.select-columns-and-sort-wrap {
  display: flex;
  flex-direction: column;
  gap: 16px;

  mat-form-field {
    width: 100%;
    min-width: 0;
    &.hidden {
      display: none;
    }
  }
}

mat-option {
  // icon inside mat-select should be smaller
  mat-icon {
    font-size: 16px;
    width: 16px;
    height: 16px;
    margin-right: 4px;
  }

  // disable unselecting name column as it would make no sense
  &#name {
    pointer-events: none;
  }
}

// icons should be same height as line height for nicer alignment
mat-icon.mat-icon {
  font-size: 20px;
  height: 20px;
  width: 20px;
  vertical-align: middle;
}

.sector-heading {
  padding: 0;
  margin-top: 24px;
  margin-left: 16px;
}

table {
  background-color: white;
  width: 100%;
  border-collapse: separate;

  tr {
    // +1 to accomodate top border on tds (except 1st row which 'uses' border of th)
    height: 43px;
    &:first-child {
      height: 42px;
    }
  }

  thead tr {
    height: 48px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 2;
  }

  tbody tr {
    &:not(.details-row) {
      cursor: pointer;
    }
  }

  td,
  th {
    padding: 8px;
    text-align: left;
    font-weight: 400;

    &.checkbox {
      padding-left: 12px;
      padding-right: 12px;
      text-align: center;
      span {
        cursor: pointer;
      }
      mat-checkbox {
        vertical-align: middle;
        margin-top: -4px;
      }
    }

    &.name {
      padding-left: 0;
    }

    &.icon {
      text-align: center;
    }
  }

  th {
    vertical-align: bottom;
    white-space: nowrap;

    &.checkbox {
      width: 40px;
      min-width: 40px;
    }
  }

  td {
    vertical-align: middle;
  }

  tbody tr:first-child {
    td {
      border: none;
    }
  }

  tbody tr.details-row {
    height: 0;
    td {
      border: none;
      height: 0;
      padding: 0;
    }
  }
}

.compact {
  background-color: white;

  .route {
    display: flex;
    align-items: center;

    &:first-child {
      border-top: none;
    }
    padding: 8px;
    padding-left: 0;

    cursor: pointer;

    .checkbox {
      flex: 0 0 40px;
      text-align: center;
    }

    .info-wrap {
      flex: 1;
      min-width: 0;
      display: flex;
      flex-direction: column;

      .info-row-first {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .name {
          flex: 1;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }

        .star {
          margin-left: 4px;
          display: flex;
          align-items: center;
        }
      }

      .info-row-second {
        display: flex;
        justify-content: space-between;

        .grade-length-wrap {
          display: flex;

          .grade {
            width: 40px;
            margin-right: 4px;
          }
        }

        .multipitch-comments-my-ascents-wrap {
          display: flex;
          align-items: center;
        }

        .multipitch,
        .comments {
          flex: 0 0 20px;
          width: 20px;
          height: 20px;
          margin-left: 4px;
        }

        .my-ascents {
          flex: 0 0 36px;
          width: 36px;
          height: 18px;
          margin-left: 4px;
        }
      }

      .info-row-third {
        font-size: 12px;
      }
    }
  }
}
