:host {
    ::ng-deep {
        .mat-mdc-icon-button.mat-mdc-button-base {
            width: 20px !important;
            height: 20px !important;
        }

        .mat-mdc-icon-button .mat-mdc-button-touch-target {
            width: 20px !important;
            height: 20px !important;
        }
    }

    .more-button {
        cursor: pointer;
        width: 30px !important;
    }

    .publish {
        color: var(--mat-sys-on-surface-variant) !important;
        font-style: normal;
        font-size: 12px;
    }
}
