<article [ngClass]="{ card: !previewMode }" class="w-100">
    <div [class.condition]="comment.type === 'condition'">
        <div class="title p-b-8 p-t-16 flex flex-row flex-justify-space-between">
            <div>
                {{ comment.created | date: 'd. MMMM yyyy' : null : 'sl-SI' }} ob {{ comment.created | date: 'HH:mm' }}
                @if (comment.updated !== comment.created) {
                    , zadnja sprememba: {{ comment.updated | date: 'd. M. yyyy HH:mm' }}
                }
            </div>
            <div>
                @if (isAuthor) {
                    <app-comment-options [comment]="comment" (editComment)="editComment($event)"></app-comment-options>
                }
            </div>
        </div>
        <!-- <div *ngIf="showRouteLink">
  <span *ngIf="comment.crag && comment.crag.type === 'sport'">
    <a [routerLink]="['/plezalisca', comment.crag.country.slug]">{{ comment.crag.country.name }}</a>,
    <a [routerLink]="['/plezalisce', comment.crag.slug]" [queryParams]="{ tab: 'komentarji' }">{{ comment.crag.name }}</a>
  </span>
  <span *ngIf="comment.crag && comment.crag.type === 'alpine'">
    <a [routerLink]="['/alpinizem/vrhovi/drzava', comment.crag.country.slug]">{{ comment.crag.country.name }}</a>,
    <a [routerLink]="['/alpinizem/stena', comment.crag.slug]">{{ comment.crag.name }}</a>
  </span>
  <span *ngIf="comment.route && comment.route.routeType.id !== 'alpine'">
    <a [routerLink]="['/plezalisce', comment.route.crag.slug]">{{ comment.route.crag.name }}</a>,
    <a [routerLink]="['/plezalisce', comment.route.crag.slug, 'smer', comment.route.slug]">{{ comment.route.name }}</a>
  </span>
  <span *ngIf="comment.route && comment.route.routeType.id === 'alpine'">
    <a [routerLink]="['/alpinizem/stena', comment.route.crag.slug]">{{ comment.route.crag.name }}</a>,
    <a [routerLink]="['/alpinizem/stena', comment.route.crag.slug, 'smer', comment.route.slug]">{{ comment.route.name }}</a>
  </span>
</div> -->
        @if (this.mode === 'view') {
            <div [innerHTML]="comment.content"></div>
        } @else {
            <app-comment-form [entity]="entity" [comment]="comment"></app-comment-form>
        }
        <div class="author p-b-16 p-t-16" [class.actions]="isAuthor">
            {{ comment.user?.fullName }}
        </div>
    </div>
</article>
