<mat-dialog-content>
    <p>
        {{ data.message }}
    </p>
    <form [formGroup]="loginForm" (submit)="login()">
        <div class="flex flex-column">
            <mat-label>E-naslov</mat-label>
            <mat-form-field class="no-hint" appearance="outline">
                <input matInput type="email" [formControl]="loginForm.controls.email" />
            </mat-form-field>
        </div>
        <div class="flex flex-column">
            <mat-label>Geslo</mat-label>
            <mat-form-field appearance="outline">
                <input matInput type="password" [formControl]="loginForm.controls.password" />
                <mat-hint align="end"><a href="#" (click)="passwordRecovery()">Pozabljeno geslo?</a></mat-hint>
            </mat-form-field>
        </div>

        <div class="m-t-8">
            @if (!loading) {
                <button mat-flat-button [disabled]="!loginForm.valid">PRIJAVA</button>
            }
            @if (loading) {
                <span class="loading">
                    <mat-spinner diameter="30"></mat-spinner>
                </span>
            }
        </div>
    </form>

    Še nimaš uporabniškega računa?<br />
    <a [routerLink]="['/registracija']" mat-dialog-close>Registriraj se</a>
</mat-dialog-content>
