@if (!htmlValue) {
    <div class="property" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="label">{{ property.propertyType.name }}</div>
        <span class="text-right"
            >{{ displayValue }}
            @if (url) {
                <a [href]="url" target="_blank" rel="nofollow noopener">
                    <mat-icon>link</mat-icon>
                </a>
            }
        </span>
    </div>
}
@if (htmlValue) {
    <div fxLayout="column">
        <div class="label">{{ property.propertyType.name }}</div>
        <div class="content" [innerHTML]="htmlValue"></div>
    </div>
}
@if (property.author !== null) {
    <div class="property-author">Avtor_ica: {{ property.author }}</div>
}
