:host {
    mat-expansion-panel {
        box-shadow: none !important;
        margin-bottom: 8px !important;
        background: none !important;
    }

    mat-expansion-panel:hover {
        background: none !important;
    }

    mat-expansion-panel-header {
        border-bottom: 1px solid var(--mat-sys-outline);
    }

    .mat-expansion-panel-body {
        padding-top: 16px !important;
    }

    .info-row .label {
        max-width: 150px !important;
        min-width: 100px !important;
    }
}
