@if (!loading && error) {
    <div class="container py-8">Plezališče ne obstaja.</div>
}
@if (!loading && !error) {
    <app-title [title]="crag ? `Urejanje plezališča ${heading}` : heading"></app-title>

    <section id="tabs">
        <div>&nbsp;</div>
        <div class="flex flex-row flex-justify-center tabs">
            <div>&nbsp;</div>
            <div [class.active]="true" class="tab">
                <app-info-icon [sgActive]="true"></app-info-icon>
                <span> Osnovni podatki </span>
            </div>
            <div>&nbsp;</div>
            <div [class.disabled]="crag === undefined" class="tab" (click)="goToSectors()">
                <app-routes-icon [sgActive]="false"></app-routes-icon>
                @if (!breakpointService.sgLtMd()) {
                    <span> Sektorji in smeri </span>
                }
            </div>
            <div>&nbsp;</div>
        </div>
        <div>&nbsp;</div>
    </section>
    <section id="form" class="flex flex-row flex-justify-center w-100">
        <app-crag-form [crag]="crag"></app-crag-form>
    </section>
}
