@use '@angular/material' as mat;
@use './../../../m3-theme.scss' as m3-theme;

$grey: mat.get-theme-color(m3-theme.$light-theme, primary, 60);

header {
    min-height: 80px;
    div.logo-and-burger {
        min-height: 40px; // same as the height of the hamburger icon
        a.logo-link {
            width: 212px;
            height: 30px;
        }
    }

    border-bottom: 1px solid $grey;

    nav > ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    nav > ul.vertical {
        flex-direction: column !important;
        align-items: flex-end !important;
    }

    nav > ul > li:not(:first-child) {
        padding-left: 16px;
        font-weight: 500 !important;
        text-decoration: none;
        font-size: 0.9rem !important;
        cursor: pointer;
    }

    nav > ul > li:first-child {
        padding-left: 0;
        font-weight: 500 !important;
        text-decoration: none;
        font-size: 0.9rem !important;
        cursor: pointer;
    }

    nav > ul > li > a.active {
        padding-left: 16px;
        font-weight: 500 !important;
        text-decoration: none;
        color: var(--mat-sys-secondary);
        cursor: pointer;
    }

    nav > a.active:hover {
        color: var(--mat-sys-secondary) !important;
    }

    nav > ul > li > div.active {
        font-weight: 500 !important;
        text-decoration: none;
        color: var(--mat-sys-secondary) !important;
        cursor: auto !important;
    }
}
