<header>
    <div class="p-16 flex flex-row flex-justify-space-between flex-align-center">
        <div class="logo-and-burger">
            <a class="logo-link" [routerLink]="['/']">
                <img src="/assets/logo.gif" width="212" height="30" />
            </a>

            <!-- <button mat-icon-button (click)="toggleNavi()">
                <app-search-icon></app-search-icon>
            </button> -->
        </div>

        <nav>
            <ul>
                <li [class.hidden]="breakpointService.sgLtMd()">
                    <a [routerLink]="['/']"><app-search-icon></app-search-icon></a>
                </li>

                <li [class.hidden]="breakpointService.sgLtLg()">
                    @if (currentUrl.startsWith('/plezalisca')) {
                        <div class="active">Plezališča</div>
                    } @else {
                        <a [routerLink]="['/plezalisca/slovenija']">Plezališča</a>
                    }
                </li>
                <li [class.hidden]="breakpointService.sgLtLg()">
                    @if (currentUrl.startsWith('/alpinizem')) {
                        <a class="active" [matMenuTriggerFor]="alpinismMenu">Alpinizem</a>
                    } @else {
                        <a [matMenuTriggerFor]="alpinismMenu">Alpinizem</a>
                    }
                </li>
                <li [class.hidden]="breakpointService.sgLtLg()">
                    @if (currentUrl.startsWith('/plezalni-dnevnik')) {
                        <div class="active">Plezalni dnevnik</div>
                    } @else {
                        <a [routerLink]="['/plezalni-dnevnik/vzponi']">Plezalni dnevnik</a>
                    }
                </li>
                <li [class.hidden]="breakpointService.sgLtLg()">
                    @if (!(user !== null)) {
                        <a (click)="login()">Prijava</a>
                    }
                    @if (user !== null) {
                        <a [matMenuTriggerFor]="authMenu"> {{ user?.fullName }}</a>
                    }
                    <!-- @if (user !== null) {
                            <a mat-button [routerLink]="['/moj-profil']">Moj profil</a>
                            }
                            @if (user?.roles.includes('admin')) {
                                <a mat-button [matMenuTriggerFor]="managementMenu">Administracija</a>
                                }
                                @if (user !== null) {
                                    <a mat-button (click)="logout()">Odjava</a>
                                    } -->
                </li>
                <li [matMenuTriggerFor]="authMenu" [class.hidden]="breakpointService.sgGtMd()" class="p-t-4">
                    {{ user?.firstname[0] }}{{ user?.lastname[0] }}
                </li>
                <li [class.hidden]="breakpointService.sgGtMd()" class="p-l-0">
                    <!--Toggle naviOpen on click-->
                    <button type="button" class="tertiary-button" (click)="toggleNavi()">
                        @if (naviOpen) {
                            <app-close-icon></app-close-icon>
                        } @else {
                            <app-menu-icon></app-menu-icon>
                        }
                    </button>
                </li>
            </ul>
        </nav>
    </div>
    @if (naviOpen) {
        <nav [class.hidden]="breakpointService.sgGtMd()" class="flex flex-column gap-8 p-r-16 p-b-16 flex-align-start">
            <ul class="vertical gap-8">
                <li [class.hidden]="breakpointService.sgGtSm()">
                    <a [routerLink]="['/']"><app-search-icon></app-search-icon></a>
                </li>
                @if (!(user !== null)) {
                    <li>
                        <a (click)="login()">Prijava</a>
                    </li>
                }

                <li>
                    @if (currentUrl.startsWith('/plezalisca')) {
                        <div class="active">Plezališča</div>
                    } @else {
                        <a [routerLink]="['/plezalisca/slovenija']">Plezališča</a>
                    }
                </li>
                <li>
                    @if (currentUrl.startsWith('/alpinizem')) {
                        <a class="active" [matMenuTriggerFor]="alpinismMenu">Alpinizem</a>
                    } @else {
                        <a [matMenuTriggerFor]="alpinismMenu">Alpinizem</a>
                    }
                </li>
                <li>
                    @if (currentUrl.startsWith('/plezalni-dnevnik')) {
                        <div class="active">Plezalni dnevnik</div>
                    } @else {
                        <a [routerLink]="['/plezalni-dnevnik/vzponi']">Plezalni dnevnik</a>
                    }
                </li>
            </ul>
        </nav>
    }
</header>

<mat-menu #alpinismMenu="matMenu">
    <a mat-menu-item [routerLink]="['/alpinizem/slapovi']">Slapovi</a>
    <a mat-menu-item [routerLink]="['/alpinizem/vrhovi/drzave']">Vrhovi</a>
</mat-menu>

<mat-menu #authMenu="matMenu" class="border-grey">
    <a mat-menu-item [routerLink]="['/moj-profil']">Moj profil</a>
    @if (user?.roles.includes('admin')) {
        <a mat-menu-item [matMenuTriggerFor]="managementMenu">Administracija</a>
    }
    <button mat-menu-item (click)="logout()">
        <span>Odjava</span>
    </button>
</mat-menu>

<mat-menu #managementMenu="matMenu">
    <a mat-menu-item [routerLink]="['/urejanje/drzave']">Države in področja</a>
</mat-menu>
