<div class="white-back mt-16">
  <div class="container py-8">
    <h1>{{ title }}</h1>
  </div>
</div>

@if (error) {
  <app-data-error [error]="error"></app-data-error>
}

@if (loading) {
  <app-loader></app-loader>
}

@if (!error && !loading) {
  @if (type == 'view') {
    <div class="container mt-16">
      @if (activity.partners || activity.duration || activity.notes) {
        <div
          class="card padding no-border description"
          >
          @if (activity.partners) {
            <p>
              <b>Soplezalci:</b> {{ activity.partners }}
            </p>
          }
          @if (activity.duration) {
            <p>
              <b>Trajanje:</b> {{ activity.duration }}min
            </p>
          }
          <p>{{ activity.notes }}</p>
        </div>
      }
    </div>
    @if (activity.routes.length > 0) {
      <div class="container mt-16">
        <app-activity-entry-routes
          [routes]="activity.routes"
        ></app-activity-entry-routes>
      </div>
    }
  }
  @if (type == 'edit') {
    <div class="container mt-16">
      <app-activity-form
        [activity]="activity"
        [crag]="activity.crag"
        [iceFall]="activity.iceFall"
        [peak]="activity.peak"
        formType="edit"
      ></app-activity-form>
    </div>
  }
}
