:host {
    article {
        background-color: var(--mat-sys-surface);
        padding: 0;
        border-radius: 6px;
        min-height: 48px !important;
        cursor: move;

        .route-info > div {
            flex-basis: 100px;
            min-width: 100px;
        }
        .route-info > div:nth-child(3) {
            flex-basis: 300px;
            min-width: 300px;
        }
        .route-info > div:first-child,
        .route-info > div:nth-child(2) {
            flex-basis: 20px;
            min-width: 20px;
        }
        .name {
            font-weight: 500;
            font-size: 16px;
            padding: 12px 0;
        }
    }

    .route-in_review {
        cursor: auto !important;
    }
}
