<article
    class="sector mt-8 flex flex-row flex-align-center flex-justify-space-between"
    [class.notice]="sgRoute().publishStatus === 'in_review'"
    [class.warn]="sgRoute().publishStatus === 'draft'"
    [class.route-in_review]="sgRoute().publishStatus === 'in_review'"
>
    <div class="flex flex-row p-4 route-info gap-16">
        <div class="p-l-16">
            <app-drag-icon></app-drag-icon>
        </div>
        <div class="p-t-2">
            <label class="checkbox-container">
                <input type="checkbox" [checked]="isChecked" (change)="onChange()" [disabled]="isDisabled" />
                <span class="checkmark"></span>
                <span class="checkmark-label"> {{ sgRoute().name }} </span>
            </label>
        </div>
        <div class="p-t-2">
            <app-grade
                [difficulty]="sgRoute().difficulty"
                [gradingSystemId]="sgRoute().defaultGradingSystem?.id"
                [showModifier]="true"
                [disabled]="true"
            ></app-grade>
        </div>
        @if (sgRoute().length) {
            <div class="p-t-2">{{ sgRoute().length }}m</div>
        }
    </div>
    <ng-content />
</article>
