@if (!loading) {
    <app-title [title]="crag ? `Urejanje sektorjev v plezališču ${heading}` : heading"></app-title>
    <section id="tabs">
        <div>&nbsp;</div>
        <div class="flex flex-row flex-justify-center tabs">
            <div>&nbsp;</div>
            <div class="tab" (click)="goToCrag()">
                <app-info-icon [active]="false"></app-info-icon>
                <span> Osnovni podatki </span>
            </div>
            <div>&nbsp;</div>
            <div [class.disabled]="crag === undefined" class="tab active">
                <app-routes-icon [active]="true"></app-routes-icon>
                @if (!breakpointService.ltMd) {
                    <span> Sektorji in smeri </span>
                }
            </div>
            <div>&nbsp;</div>
        </div>
        <div>&nbsp;</div>
    </section>
    <section id="sectors" class="p-16">
        <div class="p-t-8 p-b-8">
            <label class="checkbox-container">
                <input type="checkbox" formControlName="isHidden" />
                <span class="checkmark"></span>
                <span class="checkmark-label"> Plezališče ima več sektorjev </span>
            </label>
        </div>

        <div cdkDropList (cdkDropListDropped)="drop($event)" [class.saving]="savingPositions">
            @for (sector of sectors; track $index; let i = $index) {
                <article
                    cdkDrag
                    [cdkDragDisabled]="!canEdit(sector)"
                    class="sector mt-8 flex flex-row flex-align-center flex-justify-space-between"
                    [ngClass]="{
                        warn: sector.publishStatus === 'draft',
                        notice: sector.publishStatus === 'in_review',
                        disabled: !canEdit(sector)
                    }"
                >
                    <div class="flex flex-row">
                        <div class="p-4 p-b-8">
                            <app-drag-icon></app-drag-icon>
                        </div>
                        <div>
                            <h4>{{ sector.label }} {{ sector.name }}</h4>
                        </div>
                    </div>
                    <div class="flex flex-row tools">
                        <div class="sortable" matTooltip="Uredi smeri">
                            <app-routes-icon></app-routes-icon>
                        </div>

                        @if (canEdit(sector)) {
                            <div
                                class="sortable"
                                [matMenuTriggerFor]="optionsMenu"
                                [matMenuTriggerData]="{ sector: sector }"
                                matTooltip="Orodja"
                            >
                                <app-more-icon></app-more-icon>
                            </div>
                            <div class="sortable" (click)="edit(sector)" matTooltip="Uredi">
                                <app-edit-icon></app-edit-icon>
                            </div>
                            <div class="sortable" (click)="remove(sector)" matTooltip="Odstrani">
                                <app-delete-icon></app-delete-icon>
                            </div>
                            <div class="sortable" (click)="add()" matTooltip="Dodaj nov sektor">
                                <app-plus-icon></app-plus-icon>
                            </div>
                            <!-- <div class="flex flex-row">
                                @if (user.roles.includes('admin')) {
                                    <button
                                        mat-icon-button
                                        matTooltip="Orodja"
                                        [matMenuTriggerFor]="optionsMenu"
                                        [matMenuTriggerData]="{ sector: sector }"
                                    >
                                        <mat-icon>more_vert</mat-icon>
                                    </button>
                                }
                                <button mat-icon-button (click)="edit(sector)" matTooltip="Uredi">
                                    <mat-icon>edit</mat-icon>
                                </button>
                                <button mat-icon-button matTooltip="Spremeni vrstni red" cdkDragHandle>
                                    <mat-icon>sort</mat-icon>
                                </button>
                                <button mat-icon-button (click)="remove(sector)" matTooltip="Odstrani">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </div> -->
                        }
                        <!-- If a sector is not published, show possible publishStatus change buttons -->
                        @if (canEdit(sector)) {
                            @for (
                                nextStatus of contributionService.nextPossiblePublishStatuses(sector);
                                track contributionService.statusButtonsTrackBy($index, nextStatus)
                            ) {
                                <div class="flex flex-row publish-status-actions">
                                    <button
                                        mat-stroked-button
                                        [disabled]="!nextStatus.enabled"
                                        (click)="contributionService.updatePublishStatus(sector, nextStatus.status)"
                                    >
                                        {{ contributionService.publishStatuses[nextStatus.status].actionLabel }}
                                    </button>
                                </div>
                            }
                        }
                    </div>
                </article>
            }
            <div class="buttons mt-16">
                <button mat-button color="primary" (click)="add()">Dodaj sektor</button>
            </div>
            <mat-menu #optionsMenu="matMenu">
                <ng-template matMenuContent let-sector="sector">
                    <button mat-menu-item (click)="moveToCrag(sector)">Premakni v drugo plezališče</button>
                </ng-template>
            </mat-menu>
        </div>
    </section>
}
