@if (!loading) {
    <app-title [title]="crag ? `Urejanje sektorjev v plezališču ${heading}` : heading"></app-title>
    <section id="tabs">
        <div>&nbsp;</div>
        <div class="flex flex-row flex-justify-center tabs">
            <div>&nbsp;</div>
            <div class="tab" (click)="goToCrag()">
                <app-info-icon [active]="false"></app-info-icon>
                <span> Osnovni podatki </span>
            </div>
            <div>&nbsp;</div>
            <div [class.disabled]="crag === undefined" class="tab active">
                <app-routes-icon [active]="true"></app-routes-icon>
                <span [class.hidden]="breakpointService.sgLtMd()"> Sektorji in smeri </span>
            </div>
            <div>&nbsp;</div>
        </div>
        <div>&nbsp;</div>
    </section>
    <section id="sectors" class="p-16">
        <div class="flex flex-row flex-justify-space-between">
            <div class="p-t-8 p-b-8" [formGroup]="sectorSettingsForm">
                <mat-checkbox formControlName="isAddingSectors">Plezališče ima več sektorjev</mat-checkbox>
            </div>
            @if (!hasSectors || sectors.length === 0) {
                <button mat-stroked-button type="button" class="border">
                    <a [routerLink]="['../../../uredi-sektor', crag?.sectors[0].id]" class="button-link flex flex-row flex-align-center">
                        <app-routes-icon></app-routes-icon>
                        <span class="p-l-8 p-t-2"> Uredi smeri </span>
                    </a>
                </button>
            }
        </div>
        @if (hasSectors) {
            <div class="add-sector-button flex flex-justify-end text-right cursor-pointer m-t-16" (click)="add()">
                <div class="flex flex-row flex-align-center">
                    <span class="p-r-4 p-t-4"> dodaj sektor na začetek </span>
                    <app-plus-icon [disabled]="true"></app-plus-icon>
                </div>
            </div>

            <div cdkDropList (cdkDropListDropped)="drop($event)" [class.saving]="savingPositions">
                @for (sector of sectors; track $index; let i = $index) {
                    <article
                        cdkDrag
                        [cdkDragDisabled]="!canEdit(sector)"
                        class="sector mt-8 flex flex-column flex-align-center flex-justify-space-between"
                        [class.status-draft]="sector.publishStatus === 'draft'"
                        [class.status-in_review]="sector.publishStatus === 'in_review'"
                        [class.status-published]="sector.publishStatus === 'published'"
                        [class.sector-in_review]="sector.publishStatus === 'in_review'"
                    >
                        <div class="flex flex-row flex-justify-space-between flex-align-center w-100">
                            <div class="flex flex-row">
                                <div class="p-4 p-b-8">
                                    <app-drag-icon></app-drag-icon>
                                </div>
                                <div>
                                    <h4>{{ sector.label }} {{ sector.name }}</h4>
                                </div>
                            </div>
                            <div class="flex flex-row tools">
                                <div class="sortable" matTooltip="Uredi smeri">
                                    <a [routerLink]="['../../../uredi-sektor', sector.id]">
                                        <app-routes-icon></app-routes-icon>
                                    </a>
                                </div>

                                @if (canEdit(sector)) {
                                    <div
                                        class="sortable"
                                        [matMenuTriggerFor]="optionsMenu"
                                        [matMenuTriggerData]="{ sector: sector }"
                                        matTooltip="Orodja"
                                    >
                                        <app-more-icon></app-more-icon>
                                    </div>
                                    <div class="sortable" (click)="edit(sector)" matTooltip="Uredi">
                                        <app-edit-icon></app-edit-icon>
                                    </div>
                                    <div class="sortable" (click)="remove(sector)" matTooltip="Odstrani">
                                        <app-delete-icon></app-delete-icon>
                                    </div>
                                } @else {
                                    <div>
                                        <app-more-icon [disabled]="true"></app-more-icon>
                                    </div>
                                    <div>
                                        <app-edit-icon [disabled]="true"></app-edit-icon>
                                    </div>
                                    <div>
                                        <app-delete-icon [disabled]="true"></app-delete-icon>
                                    </div>
                                }
                                <div class="sortable" (click)="add()" matTooltip="Dodaj nov sektor">
                                    <app-plus-icon></app-plus-icon>
                                </div>
                                <!-- If a sector is not published, show possible publishStatus change buttons -->
                            </div>
                        </div>
                        @if (sector.publishStatus === 'draft') {
                            <div class="w-100">
                                <mat-divider></mat-divider>
                                @for (
                                    nextStatus of contributionService.nextPossiblePublishStatuses(sector);
                                    track contributionService.statusButtonsTrackBy($index, nextStatus)
                                ) {
                                    <div class="flex flex-row">
                                        <div class="flex flex-row flex-justify-space-between w-100 p-8">
                                            <div class="publish-status-actions">
                                                @if (sector.user.id === user.id) {
                                                    Tvoj prispevek
                                                } @else {
                                                    {{ user.firstname }} {{ user.lastname }}
                                                }
                                            </div>
                                            <div
                                                class="flex flex-row flex-align-center sortable"
                                                (click)="contributionService.updatePublishStatus(sector, 'in_review')"
                                            >
                                                <app-publish-icon></app-publish-icon> <span>Objavi</span>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        }
                    </article>
                }
                <mat-menu #optionsMenu="matMenu">
                    <ng-template matMenuContent let-sector="sector">
                        <button mat-menu-item (click)="moveToCrag(sector)">Premakni v drugo plezališče</button>
                    </ng-template>
                </mat-menu>
            </div>
        }
    </section>
}
