<mat-dialog-content>
  @if (data.newStatus === 'published') {
    <p>
      Si prepričan_a da želiš objaviti prispevek?
    </p>
  }
  @if (data.newStatus === 'in_review') {
    <p>
      Si prepričan_a da želiš uredništvu predlagati objavo prispevka?
    </p>
  }
  @if (data.newStatus === 'draft') {
    <p>
      Si prepričan_a da želiš zavrniti predlog za objavo prispevka?
    </p>
  }

  @if (data.newStatus === 'draft') {
    <div class="mt-16">
      <mat-form-field class="no-hint">
        <mat-label>Razlog za zavrnitev prispevka</mat-label>
        <textarea matInput formControlName="rejectionMessage" required></textarea>
      </mat-form-field>
      <p class="footnote">
        Razlog za zavrnitev prispevka bo posredovan uporabniku_ci, ki je
        predlagal_a objavo. Na podlagi tvojega sporočila bo lahko uredil_a
        prispevek tako, da bo primeren za objavo.
      </p>
    </div>
  }

  <p class="mt-16">
    @if (data.cascadeMessage) {
      <mat-checkbox
        formControlName="cascade"
        [disabled]="data.forceCascade"
        >{{ data.cascadeMessage }}</mat-checkbox
        >
      }
    </p>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button type="button" mat-button [mat-dialog-close]="false">Prekliči</button>
    <button
      mat-button
      color="primary"
    [mat-dialog-close]="{
      rejectionMessage: publishForm.value.rejectionMessage,
      cascade: publishForm.value.cascade
    }"
    [disabled]="
      data.newStatus === 'draft' && !publishForm.value.rejectionMessage
    "
      >
      Potrdi
    </button>
  </mat-dialog-actions>
