<div class="p-16">
    <h2>Predlog uredništvu</h2>
</div>
<mat-dialog-content [formGroup]="publishForm" class="flex flex-column">
    <span>{{ data.message }}</span>
    @if (data.newStatus === 'draft') {
        <div class="m-t-16 flex flex-column">
            <mat-label>Razlog za zavrnitev prispevka</mat-label>
            <mat-form-field class="no-hint p-t-8">
                <textarea matInput formControlName="rejectionMessage" required></textarea>
            </mat-form-field>
            <div>
                Razlog za zavrnitev prispevka bo posredovan osebi, ki je predlagala objavo. Na podlagi tega sporočila bo lahko uredila
                prispevek tako, da bo primeren za objavo.
            </div>
        </div>
    }

    <p class="mt-16">
        @if (data.cascadeMessage) {
            <mat-checkbox formControlName="cascade">{{ data.cascadeMessage }}</mat-checkbox>
        }
    </p>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button type="button" mat-button [mat-dialog-close]="false">Prekliči</button>
    <button
        mat-flat-button
        [mat-dialog-close]="{
            rejectionMessage: publishForm.value.rejectionMessage,
            cascade: publishForm.value.cascade
        }"
        [disabled]="data.newStatus === 'draft' && !publishForm.value.rejectionMessage"
    >
        {{ data.actionLabel }}
    </button>
</mat-dialog-actions>
