<app-data-error *ngIf="error" [error]="error"></app-data-error>

<app-loader *ngIf="loading"></app-loader>
@if (!error && !loading) {

<section id="title">
  <h1>{{ route.name }}</h1>
</section>
<section id="navigation">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon color="primary">more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="addImage()">
      <span>Dodaj fotografijo</span>
    </button>
    <button mat-menu-item (click)="addComment('warning')">
      <span>Dodaj opozorilo</span>
    </button>
  </mat-menu>
</section>
}

<div *ngIf="!error && !loading">
  <app-publish-status-hint
    *ngIf="
      route.publishStatus === 'draft' || route.publishStatus === 'in_review'
    "
    class="container mt-16"
    entityType="route"
    [publishStatus]="route.publishStatus"
  ></app-publish-status-hint>

  <app-warnings *ngIf="warnings" [warnings]="warnings"></app-warnings>

  <section
    id="info"
    class="flex flex-row flex-justify-space-between flex-wrap w-100"
  >
    <div>
      <app-route-info [route]="route"></app-route-info>
    </div>
    @if(route.description) {

    <div>
      <mat-accordion>
        <mat-expansion-panel expanded="true">
          <mat-expansion-panel-header>
            <mat-panel-title> Opis smeri </mat-panel-title>
          </mat-expansion-panel-header>
          <p>{{ route.description }}</p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    } @if (route.images.length>0) {

    <div>
      <app-crag-gallery
        [images]="[route.images[0]]"
        onlyPreview="true"
      ></app-crag-gallery>
    </div>
    }
  </section>
  <section
    id="ascents"
    class="flex w-100"
    [class.flex-column]="breakpointService.ltLg()"
    [class.flex-row]="breakpointService.gtMd()"
  >
    <div class="w-100">
      <app-route-ascents
        [route]="route"
        [showOnlyUserAscents]="false"
      ></app-route-ascents>
    </div>
    @if(user) {

    <div class="w-100">
      <app-route-ascents
        [route]="route"
        [showOnlyUserAscents]="true"
      ></app-route-ascents>
    </div>
    }
  </section>
  <section
    id="grades"
    class="flex w-100"
    [class.flex-column]="breakpointService.ltLg()"
    [class.flex-row]="breakpointService.gtMd()"
  >
    <div>
      <app-route-grades
        [grades]="grades"
        [difficulty]="route.difficulty"
        [gradingSystemId]="route.defaultGradingSystem.id"
      ></app-route-grades>
    </div>
    <div>
      <app-route-grades
        [grades]="grades"
        [difficulty]="route.difficulty"
        [gradingSystemId]="route.defaultGradingSystem.id"
      ></app-route-grades>
    </div>
  </section>
  <section id="gallery">
    <mat-accordion>
      <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
          <mat-panel-title> Galerija </mat-panel-title>
        </mat-expansion-panel-header>
        <app-crag-gallery [images]="route.images"></app-crag-gallery>
      </mat-expansion-panel>
    </mat-accordion>
  </section>
  <app-route-comments
    [comments]="route.comments"
    [route]="route"
    [action$]="action$"
  ></app-route-comments>
</div>
