@use '@angular/material' as mat;
@use './../../../../../m3-theme.scss' as m3-theme;
@use './../../../../../styles/global.scss' as global;

$grey: mat.get-theme-color(m3-theme.$light-theme, primary, 60);
$light-blue: mat.get-theme-color(m3-theme.$light-theme, secondary, 35);
:host {
    section#filter {
        border-radius: 8px;
        margin: 0 24px 24px 0;
        background-color: var(--mat-sys-surface);
        width: 344px !important;
        padding: 8px;
        div.top {
            padding: 12px 16px;
            border-bottom: 1px solid $grey;
        }

        mat-radio-button {
            margin-top: 8px;
        }
    }

    @media only screen and (max-width: global.$breakpoint-lg) {
        section#filter {
            position: absolute;
        }
    }

    .map-icon {
        margin-right: 4px;
        vertical-align: top;
        line-height: 16px;
    }

    .close-icon {
        cursor: pointer;
        padding-top: 8px;
    }

    a.row {
        text-decoration: none;
        color: #000;
        &:hover {
            background: #f6f9ff;
        }
        &.active {
            cursor: default;
            background: #f6f9ff;
        }
    }

    .active-country {
        color: var(--mat-sys-secondary);
    }
    .mat-form-field {
        width: 100%;
    }
    .mat-form-field-infix {
        width: auto;
    }

    mat-accordion {
        ::ng-deep {
            .mat-expansion-panel {
                box-shadow: none;
                border-bottom: 1px solid $grey;
            }
        }
    }

    mat-checkbox {
        ::ng-deep {
            .mdc-checkbox__background {
                background-color: var(--mat-sys-surface-container-lowest);
                border-radius: 6px !important;
            }

            .mat-internal-form-field > label {
                padding-left: 8px;
            }
        }
    }

    .filter-group {
        display: flex;
        flex-direction: column;
        margin: 15px 0;
        align-items: flex-start;
    }

    ul > li {
        margin-bottom: 8px;
    }
}
