<section id="filter" fxLayout="column" fxLayoutGap="12px">
    <div class="flex flex-justify-space-between top">
        <div class="flex flex-row flex-align-center">
            <div>
                <app-filter-icon></app-filter-icon>
            </div>
            <div>
                <span class="p-l-4">Filtriraj</span>
            </div>
        </div>
        <div class="close-icon" (click)="closeFilters()">
            <app-close-icon></app-close-icon>
        </div>
    </div>
    @if (filtersForm) {
        <form [formGroup]="filtersForm">
            <mat-accordion multi="true" displayMode="flat">
                <mat-expansion-panel expanded="">
                    <mat-expansion-panel-header>
                        <mat-panel-title> Glede na moje poskuse </mat-panel-title>
                    </mat-expansion-panel-header>

                    <label class="radio-container">
                        <input type="radio" value="all" formControlName="myAscents" />
                        <span class="checkdot"></span>
                        <span class="checkdot-label">Vse</span>
                    </label>
                    <label class="radio-container">
                        <input type="radio" value="climbed" formControlName="myAscents" />
                        <span class="checkdot"></span>
                        <span class="checkdot-label">Preplezane</span>
                    </label>
                    <label class="radio-container">
                        <input type="radio" value="attempted" formControlName="myAscents" />
                        <span class="checkdot"></span>
                        <span class="checkdot-label">Poskušane</span>
                    </label>
                    <label class="radio-container">
                        <input type="radio" value="notClimbed" formControlName="myAscents" />
                        <span class="checkdot"></span>
                        <span class="checkdot-label">Nepreplezane</span>
                    </label>
                    <label class="radio-container">
                        <input type="radio" value="notAttempted" formControlName="myAscents" />
                        <span class="checkdot"></span>
                        <span class="checkdot-label">Neposkušane</span>
                    </label>
                </mat-expansion-panel>
                <mat-expansion-panel expanded="" formGroupName="starRating">
                    <mat-expansion-panel-header>
                        <mat-panel-title> Glede na lepoto </mat-panel-title>
                    </mat-expansion-panel-header>
                    <label class="checkbox-container">
                        <input type="checkbox" formControlName="2" value="2" />
                        <span class="checkmark"></span>
                        <span class="checkmark-label"> Čudovita </span>
                    </label>
                    <label class="checkbox-container">
                        <input type="checkbox" formControlName="1" value="1" />
                        <span class="checkmark"></span>
                        <span class="checkmark-label"> Lepa </span>
                    </label>
                    <label class="checkbox-container">
                        <input type="checkbox" formControlName="0" value="0" />
                        <span class="checkmark"></span>
                        <span class="checkmark-label"> Nič posebnega </span>
                    </label>
                </mat-expansion-panel>
                @if (allGrades.length > 0) {
                    <mat-expansion-panel expanded="">
                        <mat-expansion-panel-header>
                            <mat-panel-title> Glede na težavnost </mat-panel-title>
                        </mat-expansion-panel-header>
                        <mat-slider
                            [min]="allGrades[0]?.difficulty"
                            [max]="allGrades[allGrades.length - 1]?.difficulty"
                            step="50"
                            [displayWith]="formatLabel.bind(this)"
                        >
                            <input formControlName="minDifficulty" matSliderStartThumb />
                            <input formControlName="maxDifficulty" matSliderEndThumb />
                        </mat-slider>
                        <div class="flex flex-row flex-justify-space-between">
                            <span>{{ formatLabel(filtersForm.controls.minDifficulty.value) }}</span>
                            <span>{{ formatLabel(filtersForm.controls.maxDifficulty.value) }}</span>
                        </div>
                    </mat-expansion-panel>
                }
            </mat-accordion>
        </form>
    }
    <button class="tertiary-button" (click)="removeAllFilters()">
        <div class="flex flex-row flex-align-center">
            <div class="close-icon">
                <app-refresh-icon></app-refresh-icon>
            </div>
            <div>
                <span class="p-l-4">Ponastavi vse</span>
            </div>
        </div>
    </button>
</section>
