@use '@angular/material' as mat;
@use './../../../../m3-theme.scss' as m3-theme;

$grey: mat.get-theme-color(m3-theme.$light-theme, primary, 60);

:host {
    mat-expansion-panel {
        box-shadow: none !important;
        margin-bottom: 8px !important;
        background: none !important;
    }

    mat-expansion-panel:hover {
        background: none !important;
    }

    mat-expansion-panel-header {
        border-bottom: 1px solid $grey;
    }

    .info-table {
        td {
            width: 50%;
        }
    }

    .info-row > div:first-child {
        flex-basis: 250px;
    }
}
