@use '@angular/material' as mat;

:host {
    mat-expansion-panel {
        box-shadow: none !important;
        margin-bottom: 8px !important;
        background: none !important;
    }

    mat-expansion-panel:hover {
        background: none !important;
    }

    mat-expansion-panel-header {
        border-bottom: 1px solid var(--mat-sys-outline);
    }

    .info-table {
        td {
            width: 50%;
        }
    }

    .info-row > div:first-child {
        flex-basis: 250px;
    }
}
