<app-title [title]="heading"></app-title>
@if (!loading) {
    <form [formGroup]="routesForm">
        <section id="options">
            <div class="flex flex-row flex-justify-space-between w-100">
                <div class="options flex flex-row text-center">
                    <div>
                        @if (routesForm) {
                            <button class="border" mat-stroked-button type="button">
                                <mat-checkbox formControlName="selectAll">Označi vse</mat-checkbox>
                            </button>
                        }
                    </div>

                    <div>
                        <button
                            class="border"
                            mat-stroked-button
                            [disabled]="routesForm.controls.selectedRouteIds.value.length === 0"
                            type="button"
                        >
                            <div class="flex flex-row flex-align-center">
                                <app-move-routes-icon
                                    [disabled]="routesForm.controls.selectedRouteIds.value.length === 0"
                                ></app-move-routes-icon>
                                <span>Premakni </span>
                            </div>
                        </button>
                    </div>
                    <div>
                        <button
                            class="border"
                            mat-stroked-button
                            (click)="moveSelectedToSector()"
                            [disabled]="routesForm.controls.selectedRouteIds.value.length === 0"
                            type="button"
                        >
                            <div class="flex flex-row flex-align-center">
                                <app-switch-sector-icon
                                    [disabled]="routesForm.controls.selectedRouteIds.value.length === 0"
                                ></app-switch-sector-icon>
                                <span>Premakni v drug sektor</span>
                            </div>
                        </button>
                    </div>
                    <div>
                        <button
                            class="border"
                            mat-stroked-button
                            [disabled]="routesForm.controls.selectedRouteIds.value.length !== 2"
                            (click)="mergeRoutes()"
                            type="button"
                        >
                            <div class="flex flex-row flex-align-center">
                                <app-merge-routes-icon
                                    [sgDisabled]="routesForm.controls.selectedRouteIds.value.length !== 2"
                                ></app-merge-routes-icon>
                                <span>Združi</span>
                            </div>
                        </button>
                    </div>
                    <div>
                        <button
                            [disabled]="routesForm.controls.selectedRouteIds.value.length === 0"
                            class="border"
                            mat-stroked-button
                            type="button"
                            (click)="deleteSelectedRoutes()"
                        >
                            <div class="flex flex-row flex-align-center">
                                <app-delete-icon [disabled]="routesForm.controls.selectedRouteIds.value.length === 0"></app-delete-icon>
                                <div class="m-l-8">Izbriši</div>
                            </div>
                        </button>
                    </div>
                </div>
                <div class="p-t-16 p-r-16">
                    <button class="border" mat-stroked-button type="button">
                        <a class="flex flex-row flex-align-center" [routerLink]="['/urejanje/uredi-plezalisce/' + crag.id + '/sektorji']">
                            <app-return-icon></app-return-icon>
                            <div class="m-l-8">Nazaj na sektorje</div></a
                        >
                    </button>
                </div>
            </div>
        </section>

        <section id="routes" class="p-16">
            <div
                class="add-route-button flex flex-justify-end text-right cursor-pointer m-t-16"
                (click)="add({ position: routes[0] ? routes[0].position : 1 })"
            >
                <div class="flex flex-row flex-align-center">
                    <span class="p-r-4 p-t-4">
                        @if (routes.length > 0) {
                            dodaj smer na začetek
                        } @else {
                            dodaj prvo smer
                        }
                    </span>
                    <app-plus-icon [disabled]="true"></app-plus-icon>
                </div>
            </div>
            <div cdkDropList (cdkDropListDropped)="drop($event)" [class.saving]="savingPositions">
                @for (route of routes; track $index; let i = $index) {
                    @if (routesForm.controls.selectedRouteIds) {
                        <app-route-container
                            [route]="route"
                            [routeFormControl]="routesForm.controls.selectedRouteIds"
                            cdkDrag
                            [cdkDragDisabled]="route.publishStatus === 'in_review'"
                        >
                            <div class="flex flex-row tools">
                                @if (route.publishStatus === 'draft') {
                                    <div>
                                        <app-publish-icon
                                            class="sortable"
                                            matTooltip="Objavi smer"
                                            (click)="contributionService.updatePublishStatus(route, 'in_review')"
                                        ></app-publish-icon>
                                    </div>
                                }
                                @if (canEdit(route)) {
                                    <div class="sortable" (click)="edit(route)" matTooltip="Uredi">
                                        <app-edit-icon></app-edit-icon>
                                    </div>
                                    <div class="sortable" (click)="remove(route)" matTooltip="Odstrani">
                                        <app-delete-icon></app-delete-icon>
                                    </div>
                                } @else {
                                    <div>
                                        <app-edit-icon [disabled]="true"></app-edit-icon>
                                    </div>
                                    <div>
                                        <app-delete-icon [disabled]="true"></app-delete-icon>
                                    </div>
                                }
                                <div class="sortable" (click)="add({ position: route.position + 1 })" matTooltip="Dodaj kot naslednjo">
                                    <app-plus-icon></app-plus-icon>
                                </div>
                            </div>
                        </app-route-container>
                    }
                }
            </div>
            <div class="flex flex-row">
                <div class="p-8 flex flex-align-center">
                    <span class="dot extra-large warn" [style.backgroundColor]="'red'"></span>
                    <span class="p-l-8"> osnutek </span>
                </div>
                <div class="p-8 flex flex-align-center">
                    <span class="dot extra-large notice" [style.backgroundColor]="'red'"></span>
                    <span class="p-l-8"> v pregledu pri uredništvu </span>
                </div>
            </div>
        </section>
    </form>
}
