@use '@angular/material' as mat;
@use './../../../../m3-theme.scss' as m3-theme;

$grey: mat.get-theme-color(m3-theme.$light-theme, primary, 60);

:host {
    section#options {
        .options {
            height: 40px !important;
        }

        .options > div {
            border-right: 1px solid $grey;
            padding: 0 8px;
            margin-top: 8px;
        }

        .options > div:last-child {
            border-right: none;
        }
    }

    section#routes {
        .tools > div {
            border-right: 1px solid $grey !important;
            padding: 0 16px !important;
            margin-top: 8px;
            margin-bottom: 8px;
        }

        .tools > div:last-child {
            border-right: none !important;
        }

        .add-route-button {
            border-radius: 8px;
            border: 1px dashed var(--mat-sys-outline-variant);
            height: 48px;
            padding-right: 16px;
            padding-left: 16px;
            color: var(--mat-sys-outline-variant);
        }

        .add-route-button:hover {
            border: 1px dashed var(--mat-sys-outline);
            color: var(--mat-sys-outline);
        }
    }
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drop-list.saving {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgb(255 255 255 / 40%);
        z-index: 1;
    }
}

.cdk-drag-preview {
    border: 1px solid $grey;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: $grey;
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.publish-status-actions {
    text-align: right;
    white-space: nowrap;

    button {
        text-transform: uppercase;

        &:last-child {
            margin-left: 8px;
        }
    }
}
