<form [formGroup]="cragForm" (submit)="save()" class="card padding no-border m-t-32" [class]="crag?.publishStatus">
    <div class="flex flex-row p-b-16">
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Ime plezališča</mat-label>
                <input matInput cdkFocusInitial type="text" formControlName="name" />
            </mat-form-field>
        </div>
    </div>

    <div class="flex flex-row gap-16 p-b-16">
        <div>
            <mat-form-field class="no-hint" appearance="outline">
                <mat-label>Država</mat-label>
                <mat-select formControlName="countryId">
                    @for (country of countries; track $index) {
                        <mat-option [value]="country.id">{{ country.name }} </mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </div>

        @if (areas.length > 0) {
            <div>
                <mat-form-field class="no-hint" appearance="outline">
                    <mat-label>Področje</mat-label>
                    <mat-select formControlName="areaId">
                        @for (area of areas; track area) {
                            <mat-option [value]="area.id">{{ area.name }} </mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>
        }
    </div>

    <div class="flex flex-row gap-16 p-b-16">
        <div>
            <mat-form-field class="no-hint" appearance="outline">
                <mat-label>Vrsta plezanja</mat-label>
                <mat-select formControlName="type">
                    @for (type of types; track type) {
                        <mat-option [value]="type.value">{{ type.label }} </mat-option>
                    }
                </mat-select>

                <mat-select formControlName="orientations" multiple>
                    @for (orientation of orientations; track orientation) {
                        <mat-option [value]="orientation.value">{{ orientation.label }} </mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="outline" fxFlex>
                <mat-label>Privzeti sistem ocenjevanja</mat-label>
                <mat-select formControlName="defaultGradingSystemId">
                    @for (option of gradingSystems; track option) {
                        <mat-option [value]="option.id">{{ option.name }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="flex flex-row gap-16 p-b-16">
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Zemljepisna širina</mat-label>
                <input matInput type="number" formControlName="lat" (blur)="formatCoordinate($event, 'lat')" />
                <mat-hint>Google koordinata, npr.: 45,96882</mat-hint>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Zemljepisna dolžina</mat-label>
                <input matInput type="number" formControlName="lon" (blur)="formatCoordinate($event, 'lon')" />
                <mat-hint>Google koordinata, npr.: 14,00936</mat-hint>
            </mat-form-field>
        </div>
    </div>

    <mat-divider></mat-divider>

    <div class="m-t-32">
        <div>
            <mat-form-field appearance="outline" class="no-hint w-100">
                <mat-label>Opis plezališča</mat-label>
                <textarea matInput formControlName="description"></textarea>
            </mat-form-field>
        </div>
    </div>

    <div class="flex flex-column m-t-16">
        <div>Naklon stene</div>
        <div class="flex flex-row flex-justify-center gap-16">
            @for (wallAngle of wallAngles; track $index) {
                <app-wall-angle-option
                    [wallAngleData]="wallAngle"
                    [wallAngleFormControl]="cragForm.controls.wallAngles"
                ></app-wall-angle-option>
            }
        </div>
    </div>

    <div class="flex flex-column m-t-16">
        <div>Plezanje v dežju</div>
        <div class="">
            <mat-radio-group class="filter-group" formControlName="rainproof">
                <mat-radio-button [value]="true" color="var(--mat-sys-secondary)"
                    ><div class="flex flex-row flex-align-center">Je možno</div>
                </mat-radio-button>
                <mat-radio-button [value]="false" color="var(--mat-sys-secondary)">Ni možno</mat-radio-button>
            </mat-radio-group>
        </div>
    </div>

    <mat-divider class="m-t-16"></mat-divider>

    <div class="flex flex-row gap-16 m-t-32">
        <div>
            <mat-form-field appearance="outline" class="no-hint">
                <mat-label>Usmerjenost</mat-label>
                <mat-select formControlName="orientations" multiple>
                    @for (orientation of orientations; track orientation) {
                        <mat-option [value]="orientation.value">{{ orientation.label }} </mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div class="flex flex-column gap-16 m-t-32">
        <div>Sezona</div>
        <div class="flex flex-row flex-justify-center gap-16">
            @for (season of seasons; track $index) {
                <app-season-option [seasonData]="season" [seasonFormControl]="cragForm.controls.seasons"></app-season-option>
            }
        </div>
    </div>

    <div class="m-t-16">
        <mat-checkbox formControlName="isHidden">Prikaži samo prijavljenim uporabnikom</mat-checkbox>
    </div>

    <mat-divider class="m-t-32"></mat-divider>
    <div class="flex flex-row m-t-32">
        @if (crag?.user?.id === user.id && ['user', 'proposal'].includes(crag.status)) {
            <div>
                <button mat-flat-button type="button" (click)="deleteCrag()">Izbriši plezališče</button>
            </div>
        }

        <div class="flex flex-row flex-justify-space-between flex-align-center gap-8 w-100">
            @if (!loading) {
                @if (canDelete()) {
                    <div class="flex flex-row flex-align-center sortable" (click)="deleteCrag()">
                        <div>
                            <app-delete-icon></app-delete-icon>
                        </div>
                        <div>Izbriši</div>
                    </div>
                }
                <div>
                    <button mat-flat-button [disabled]="!cragForm.valid || cragForm.pristine">Shrani</button>
                </div>
            }
            @if (loading) {
                <span class="loading">
                    <mat-spinner diameter="30"></mat-spinner>
                </span>
            }
            @if (contributionService.nextPossiblePublishStatuses(crag)) {
                <div class="publish-status-actions">
                    @for (
                        nextStatus of contributionService.nextPossiblePublishStatuses(crag);
                        track contributionService.statusButtonsTrackBy($index, nextStatus)
                    ) {
                        <button
                            type="button"
                            mat-flat-button
                            [disabled]="!nextStatus.enabled || !cragForm.pristine"
                            (click)="contributionService.updatePublishStatus(crag, nextStatus.status)"
                        >
                            {{ contributionService.publishStatuses[nextStatus.status].actionLabel }}
                        </button>
                    }
                </div>
            }
        </div>
    </div>
</form>
