@use './../../../../styles/global.scss' as global;
:host {
    mat-form-field {
        width: 320px;

        @media only screen and (max-width: global.$breakpoint-md) {
            width: 100% !important;
        }
    }

    mat-radio-button {
        display: block;
        margin: 8px;
    }
}

.mat-hint a {
    text-decoration: none;
}
