@if (crag?.publishStatus === 'draft') {
    <div class="flex flex-column status-draft p-16 gap-8 m-t-32">
        <div class="p-8">
            Plezališče je v statusu <b>osnutek</b>.
            @if (isAdmin) {
                Ko zaključiš z urejanjem sektorjev in smeri, ga objavi.
            } @else {
                Ko zaključiš z urejanjem sektorjev in smeri, ga pošlji uredništvu v pregled in objavo.
            }
        </div>
        <mat-divider></mat-divider>
        <div class="flex flex-row flex-justify-space-between p-8">
            <div class="publish-status-actions">
                @if (crag.user.id === user.id) {
                    Tvoj prispevek
                } @else {
                    {{ user.firstname }} {{ user.lastname }}
                }
            </div>
            <div class="flex flex-row flex-align-center sortable" (click)="contributionService.updatePublishStatus(crag, 'in_review')">
                @if (isAdmin) {
                    <app-publish-icon></app-publish-icon> <span>Objavi</span>
                } @else {
                    <app-publish-icon></app-publish-icon> <span>Predlagaj objavo</span>
                }
            </div>
        </div>
    </div>
}

@if (crag?.publishStatus === 'in_review') {
    <div class="flex flex-column status-in_review p-16 gap-8 m-t-32">
        <div class="p-8">
            Plezališče je v statusu <b>v pregledu</b>.
            @if (isAdmin) {
                Ko zaključiš s pregledom, potrdi ali zavrni objavi.
            } @else {
                Prispevek bo objavljen, ko ga uredništvo<br />
                pregleda in potrdi.
            }
        </div>
        <mat-divider></mat-divider>
        <div class="flex flex-row flex-justify-space-between p-8">
            <div class="publish-status-actions">
                @if (crag.user.id === user.id) {
                    Tvoj prispevek
                } @else {
                    {{ user.firstname }} {{ user.lastname }}
                }
            </div>
            @if (isAdmin) {
                <div class="flex flex-row">
                    <div
                        class="flex flex-row flex-align-center sortable"
                        (click)="contributionService.updatePublishStatus(crag, 'published')"
                    >
                        <app-check-icon></app-check-icon><span>Potrdi objavo</span>
                    </div>
                    <div class="flex flex-row flex-align-center sortable" (click)="contributionService.updatePublishStatus(crag, 'draft')">
                        <app-close-icon></app-close-icon><span>Zavrni objavo</span>
                    </div>
                </div>
            }
        </div>
    </div>
}
<form [formGroup]="cragForm" (submit)="save()" class="card padding no-border m-t-32" [class]="crag?.publishStatus">
    <div class="flex flex-row p-b-8 w-100">
        <div class="w-100 flex flex-column">
            <mat-label>Ime plezališča</mat-label>
            <mat-form-field appearance="outline" class="m-t-8">
                <input matInput cdkFocusInitial type="text" formControlName="name" />
            </mat-form-field>
        </div>
    </div>

    <div class="flex gap-16 p-b-8" [class.flex-row]="!breakpointService.sgLtMd()" [class.flex-column]="breakpointService.sgLtMd()">
        <div class="flex flex-column">
            <mat-label>Država</mat-label>
            <mat-form-field class="no-hint" appearance="outline" class="m-t-8">
                <mat-select formControlName="countryId">
                    @for (country of countries; track $index) {
                        <mat-option [value]="country.id">{{ country.name }} </mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </div>

        @if (areas.length > 0) {
            <div class="flex flex-column">
                <mat-label>Področje</mat-label>
                <mat-form-field class="no-hint" appearance="outline" class="m-t-8">
                    <mat-select formControlName="areaId">
                        @for (area of areas; track $index) {
                            <mat-option [value]="area.id">{{ area.name }} </mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>
        }
    </div>

    <div class="flex flex-row gap-16 p-b-8" [class.flex-row]="!breakpointService.sgLtMd()" [class.flex-column]="breakpointService.sgLtMd()">
        <div class="flex flex-column">
            <mat-label>Vrsta plezanja</mat-label>
            <mat-form-field class="no-hint" appearance="outline" class="m-t-8">
                <mat-select formControlName="type">
                    @for (type of types; track $index) {
                        <mat-option [value]="type.value">{{ type.label }} </mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </div>

        <div class="flex flex-column">
            <mat-label>Privzeti sistem ocenjevanja</mat-label>
            <mat-form-field appearance="outline" class="m-t-8">
                <mat-select formControlName="defaultGradingSystemId">
                    @for (option of gradingSystems; track $index) {
                        <mat-option [value]="option.id">{{ option.name }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="flex flex-row gap-16 p-b-8" [class.flex-row]="!breakpointService.sgLtMd()" [class.flex-column]="breakpointService.sgLtMd()">
        <div class="flex flex-column">
            <mat-label>Zemljepisna širina</mat-label>
            <mat-form-field appearance="outline" class="m-t-8">
                <input matInput type="number" formControlName="lat" (blur)="formatCoordinate($event, 'lat')" />
                <mat-hint>Google koordinata, npr.: 45,96882</mat-hint>
            </mat-form-field>
        </div>
        <div class="flex flex-column">
            <mat-label>Zemljepisna dolžina</mat-label>
            <mat-form-field appearance="outline" class="m-t-8">
                <input matInput type="number" formControlName="lon" (blur)="formatCoordinate($event, 'lon')" />
                <mat-hint>Google koordinata, npr.: 14,00936</mat-hint>
            </mat-form-field>
        </div>
    </div>

    <mat-divider class="m-t-16"></mat-divider>

    <div class="m-t-16">
        <div class="flex flex-column">
            <mat-label>Opis plezališča</mat-label>
            <mat-form-field appearance="outline" class="no-hint w-100 m-t-8">
                <textarea matInput formControlName="description"></textarea>
            </mat-form-field>
        </div>
    </div>

    <div class="flex flex-column m-t-16">
        <div>Naklon stene</div>
        <div class="flex flex-row flex-justify-center gap-16">
            @for (wallAngle of wallAngles; track $index) {
                <app-wall-angle-option
                    [wallAngleData]="wallAngle"
                    [wallAngleFormControl]="cragForm.controls.wallAngles"
                    [disabled]="cragForm.controls.wallAngles.disabled"
                ></app-wall-angle-option>
            }
        </div>
    </div>

    <div class="flex flex-column m-t-16">
        <div>Plezanje v dežju</div>
        <div class="m-t-8">
            <mat-radio-group class="filter-group" formControlName="rainproof">
                <mat-radio-button [value]="true" color="var(--mat-sys-secondary)"
                    ><div class="flex flex-row flex-align-center">Je možno</div>
                </mat-radio-button>
                <mat-radio-button [value]="false" color="var(--mat-sys-secondary)">Ni možno</mat-radio-button>
            </mat-radio-group>
        </div>
    </div>

    <mat-divider class="m-t-16"></mat-divider>

    <div class="flex flex-row gap-16 m-t-32">
        <div class="flex flex-column">
            <mat-label>Usmerjenost</mat-label>
            <mat-form-field appearance="outline" class="no-hint m-t-8">
                <mat-select formControlName="orientations" multiple>
                    @for (orientation of orientations; track $index) {
                        <mat-option [value]="orientation.value">{{ orientation.label }} </mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div class="flex flex-column gap-16 m-t-32">
        <div>Sezona</div>
        <div class="flex flex-row flex-justify-center gap-16">
            @for (season of seasons; track $index) {
                <app-season-option
                    [seasonData]="season"
                    [seasonFormControl]="cragForm.controls.seasons"
                    [disabled]="cragForm.controls.seasons.disabled"
                ></app-season-option>
            }
        </div>
    </div>

    <mat-divider class="m-t-32"></mat-divider>
    <div
        class="flex flex-row gap-16 p-b-16 m-t-32"
        [class.flex-row]="!breakpointService.sgLtMd()"
        [class.flex-column]="breakpointService.sgLtMd()"
    >
        <!-- <div class="flex flex-column">
            <mat-label>Koordinate parkirišča</mat-label>
            <mat-form-field appearance="outline" class="m-t-8">
                <input matInput type="number" formControlName="parkingLat" />
                <mat-hint>Google koordinata, npr.: 45,96882</mat-hint>
            </mat-form-field>
        </div> -->
        <div class="flex flex-column">
            <mat-label>Dostop</mat-label>
            <mat-form-field appearance="outline" class="m-t-8">
                <input matInput type="number" formControlName="approachTime" />
                <span matTextSuffix="">&nbsp; min</span>
            </mat-form-field>
        </div>
    </div>

    <div class="m-t-8">
        <div>
            <mat-label>Opis dostopa</mat-label>
            <mat-form-field appearance="outline" class="no-hint w-100 m-t-8">
                <textarea matInput formControlName="access"></textarea>
            </mat-form-field>
        </div>
    </div>

    <div class="m-t-16">
        <label class="checkbox-container">
            <input type="checkbox" formControlName="isHidden" />
            <span class="checkmark"></span>
            <span class="checkmark-label"> Prikaži samo prijavljenim uporabnikom </span>
        </label>
    </div>

    <mat-divider class="m-t-32"></mat-divider>
    <div class="flex flex-row m-t-32">
        @if (crag?.user?.id === user.id && ['user', 'proposal'].includes(crag.status)) {
            <div>
                <button class="secondary-button" type="button" (click)="deleteCrag()">Izbriši plezališče</button>
            </div>
        }

        <div class="flex flex-row flex-justify-space-between flex-align-center gap-8 w-100">
            @if (!loading) {
                @if (canDelete()) {
                    <button type="button" class="secondary-button flex flex-row flex-align-center" (click)="deleteCrag()">
                        <div class="flex flex-row">
                            <app-delete-icon></app-delete-icon>

                            <span class="p-l-8 p-t-2">Izbriši</span>
                        </div>
                    </button>
                }
                <div>
                    <button
                        class="primary-button"
                        [disabled]="!cragForm.valid || cragForm.pristine"
                        [class.disabled]="!cragForm.valid || cragForm.pristine"
                    >
                        Shrani
                    </button>
                </div>
            }
            @if (loading) {
                <span class="loading">
                    <mat-spinner diameter="30"></mat-spinner>
                </span>
            }
        </div>
    </div>
</form>
