<form
  [formGroup]="cragForm"
  (submit)="save()"
  class="card padding no-border mt-16"
  [class]="crag?.publishStatus"
  >
  <div fxLayout="row" fxLayoutGap="8px" fxLayout.lt-sm="column">
    <p fxFlex="50">
      <mat-form-field>
        <mat-label>Ime plezališča</mat-label>
        <input matInput cdkFocusInitial type="text" formControlName="name" />
      </mat-form-field>
    </p>
    <p fxFlex="50">
      <mat-form-field class="no-hint">
        <mat-label>Vrsta plezanja</mat-label>
        <mat-select formControlName="type">
          @for (type of types; track type) {
            <mat-option [value]="type.value"
              >{{ type.label }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
    </p>
  </div>

  <div fxLayout="row" fxLayoutGap="8px" fxLayout.lt-sm="column">
    <p fxFlex="50">
      <mat-form-field class="no-hint">
        <mat-label>Država</mat-label>
        <mat-select formControlName="countryId">
          @for (country of countries; track country) {
            <mat-option [value]="country.id"
              >{{ country.name }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
    </p>

    @if (areas.length > 0) {
      <p fxFlex="50">
        <mat-form-field class="no-hint">
          <mat-label>Regija</mat-label>
          <mat-select formControlName="areaId">
            @for (area of areas; track area) {
              <mat-option [value]="area.id"
                >{{ area.name }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </p>
    }
  </div>

  <div fxLayout="row" fxLayoutGap="8px" fxLayout.lt-sm="column">
    <p fxFlex="50">
      <mat-form-field>
        <mat-label>Zemljepisna širina</mat-label>
        <input
          matInput
          type="number"
          formControlName="lat"
          (blur)="formatCoordinate($event, 'lat')"
          />
          <mat-hint>Google koordinata, npr.: 45,96882</mat-hint>
        </mat-form-field>
      </p>
      <p fxFlex="50">
        <mat-form-field>
          <mat-label>Zemljepisna dolžina</mat-label>
          <input
            matInput
            type="number"
            formControlName="lon"
            (blur)="formatCoordinate($event, 'lon')"
            />
            <mat-hint>Google koordinata, npr.: 14,00936</mat-hint>
          </mat-form-field>
        </p>
      </div>

      <div fxLayout="row" fxLayoutGap="8px" fxLayout.lt-sm="column">
        <p fxFlex="50">
          <mat-form-field class="no-hint">
            <mat-label>Usmerjenost</mat-label>
            <mat-select formControlName="orientation">
              @for (orientation of orientations; track orientation) {
                <mat-option
                  [value]="orientation.value"
                  >{{ orientation.label }}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>
        </p>
      </div>

      <p>
        <app-my-editor
          label="Opis plezališča"
          [control]="cragForm.controls.description"
        ></app-my-editor>
      </p>

      <p>
        <app-my-editor
          label="Opis dostopa"
          [control]="cragForm.controls.access"
        ></app-my-editor>
      </p>

      <div fxLayout="row" fxLayoutGap="8px" fxLayout.lt-sm="column">
        <p fxFlex="50">
          <mat-form-field fxFlex>
            <mat-label>Privzeti sistem ocenjevanja</mat-label>
            <mat-select formControlName="defaultGradingSystemId">
              @for (option of gradingSystems; track option) {
                <mat-option
                  [value]="option.id"
                  >{{ option.name }}</mat-option
                  >
              }
            </mat-select>
          </mat-form-field>
        </p>
      </div>

      <div fxLayout="row">
        <p fxFlex="50" fxLayoutAlign="start center">
          <mat-checkbox formControlName="isHidden"
            >Prikaži samo prijavljenim uporabnikom</mat-checkbox
            >
          </p>
        </div>

        <div fxLayout="row">
          @if (
            crag?.user?.id == user.id && ['user', 'proposal'].includes(crag.status)
            ) {
            <div
              fxFlex
              >
              <button mat-button type="button" (click)="deleteCrag()">
                Izbriši plezališče
              </button>
            </div>
          }
          <div fxFlex="100" fxLayoutAlign="end center" fxLayoutGap="8px">
            @if (!loading) {
              <button
                mat-button
                color="primary"
                [disabled]="!cragForm.valid || cragForm.pristine"
                >
                Shrani
              </button>
            }
            @if (loading) {
              <span class="loading">
                <mat-spinner diameter="30"></mat-spinner>
              </span>
            }

            @if (contributionService.nextPossiblePublishStatuses(crag)) {
              <div
                class="publish-status-actions"
                >
                @for (
                  nextStatus of contributionService.nextPossiblePublishStatuses(
                  crag
                  ); track contributionService.statusButtonsTrackBy($index,
                  nextStatus)) {
                  <button
                    type="button"
                    mat-stroked-button
                    [disabled]="!nextStatus.enabled || !cragForm.pristine"
          (click)="
            contributionService.updatePublishStatus(crag, nextStatus.status)
          "
                    >
                    {{
                    contributionService.publishStatuses[nextStatus.status].actionLabel
                    }}
                  </button>
                }
              </div>
            }

            @if (canDelete()) {
              <div class="delete">
                <button
                  type="button"
                  mat-stroked-button
                  color="warn"
                  (click)="deleteCrag()"
                  >
                  Izbriši
                </button>
              </div>
            }
          </div>
        </div>
      </form>
