:host {
  mat-form-field {
    width: 300px;
  }

  mat-radio-button {
    display: block;
    margin: 8px;
  }
}

.mat-hint a {
  text-decoration: none;
}

.publish-status-actions {
  text-align: right;
  white-space: nowrap;
  button {
    text-transform: uppercase;
    &:not(:first-child) {
      margin-left: 8px;
    }
  }
}

.delete button {
  text-transform: uppercase;
}
