@use '@angular/material' as mat;
@use './../../../../m3-theme.scss' as m3-theme;
$grey: mat.get-theme-color(m3-theme.$light-theme, neutral-variant, 30);

:host {
    display: block;
    width: 24px !important;
    height: 24px !important;

    svg.disabled path {
        fill: $grey;
    }
}
