section.filter {
  width: 278;
  border-radius: 8px;
  padding: 24px;
  margin: 24px;
  background-color: var(--mat-sys-surface);
}

a.row {
  text-decoration: none;
  color: #000;
  &:hover {
    background: #f6f9ff;
  }
  &.active {
    cursor: default;
    background: #f6f9ff;
  }
}
.show-all {
  color: #0000008a;
  padding: 12px;
  cursor: pointer;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
}
.mat-form-field {
  width: 100%;
}
.mat-form-field-infix {
  width: auto;
}
