<section id="filter" fxLayout="column" fxLayoutGap="12px">
    <div class="flex flex-justify-space-between top">
        <div class="flex flex-row flex-align-center">
            <div>
                <mat-icon class="p-t-4">tune</mat-icon>
            </div>
            <div>
                <span class="p-l-4">Filtriraj</span>
            </div>
        </div>
        <div class="close-icon" (click)="closeFilters()">
            <mat-icon class="map-icon">close</mat-icon>
        </div>
    </div>
    <mat-accordion multi="true" displayMode="flat" [formGroup]="cragForm">
        <mat-expansion-panel expanded="">
            <mat-expansion-panel-header>
                <mat-panel-title> Država </mat-panel-title>
            </mat-expansion-panel-header>
            <ul>
                @for (country of countries; track $index) {
                    @if ($index < 5 && !showAllCountries) {
                        <li>
                            @if (country.slug === currentCountrySlug) {
                                <div class="active-country flex">
                                    <div>{{ country.name }}</div>
                                    <span class="p-l-4">{{ country.nrCrags }}</span>
                                </div>
                            } @else {
                                <a
                                    [class.active-country]="country.slug === currentCountrySlug"
                                    (click)="changeCountry(country.slug)"
                                    class="flex"
                                >
                                    <div>{{ country.name }}</div>
                                    <span class="p-l-4">{{ country.nrCrags }}</span>
                                </a>
                            }
                        </li>
                    } @else if (showAllCountries) {
                        <li>
                            @if (country.slug === currentCountrySlug) {
                                <div>{{ country.name }}</div>
                                <span class="p-l-4">{{ country.nrCrags }}</span>
                            } @else {
                                <a
                                    [class.show-all]="country.slug === currentCountrySlug"
                                    (click)="changeCountry(country.slug)"
                                    class="flex"
                                >
                                    <div>{{ country.name }}</div>
                                    <span class="p-l-4">{{ country.nrCrags }}</span>
                                </a>
                            }
                        </li>
                    }
                }
            </ul>
            @if (!showAllCountries) {
                <div class="reset-button">
                    <button type="button" (click)="showAllCountries = true" class="tertiary-button">Prikaži vse</button>
                </div>
            }
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="activatedAreas.length > 0">
            <mat-expansion-panel-header>
                <mat-panel-title> Območje </mat-panel-title>
            </mat-expansion-panel-header>
            <ul formArrayName="areas">
                @for (area of country.areas; track $index) {
                    <li>
                        <label class="checkbox-container">
                            <input
                                type="checkbox"
                                [checked]="cragForm.controls['areas'].controls[area.slug].value"
                                [formControlName]="area.slug"
                                (change)="changeArea(area.slug)"
                            />
                            <span class="checkmark"></span>
                            <span class="checkmark-label">{{ area.name }}</span>
                        </label>
                    </li>
                }
            </ul>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="activatedRouteTypes.length > 0">
            <mat-expansion-panel-header>
                <mat-panel-title> Tip smeri </mat-panel-title>
            </mat-expansion-panel-header>
            <ul>
                @for (routeType of routeTypes; track $index) {
                    <li>
                        <label class="checkbox-container">
                            <input
                                type="checkbox"
                                [checked]="cragForm.controls[routeType.id].value"
                                [formControlName]="routeType.id"
                                (change)="changeType(routeType.slug)"
                            />
                            <span class="checkmark"></span>
                            <span class="checkmark-label">{{ routeType.label }}</span>
                        </label>
                    </li>
                }
            </ul>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="activatedOrientations.length > 0">
            <mat-expansion-panel-header>
                <mat-panel-title>Orientacija</mat-panel-title>
            </mat-expansion-panel-header>
            <ul>
                @for (orientation of orientations; track $index) {
                    <li>
                        <label class="checkbox-container">
                            <input
                                type="checkbox"
                                [checked]="cragForm.controls[orientation.value].value"
                                [formControlName]="orientation.value"
                                (change)="changeOrientation(orientation.value)"
                            />
                            <span class="checkmark"></span>
                            <span class="checkmark-label">{{ orientation.label }}</span>
                        </label>
                    </li>
                }
            </ul>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="activatedOrientations.length > 0">
            <mat-expansion-panel-header>
                <mat-panel-title>Težavnost</mat-panel-title>
            </mat-expansion-panel-header>

            med
            <app-grade-select
                [control]="cragForm.controls['minGrade']"
                emptyText="Brez"
                gradingSystemId="french"
                [noHint]="true"
                [focusDifficulty]="null"
            ></app-grade-select>
            in
            <app-grade-select
                [control]="cragForm.controls['maxGrade']"
                emptyText="Brez"
                gradingSystemId="french"
                [noHint]="true"
                [focusDifficulty]="null"
            ></app-grade-select>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="activatedOrientations.length > 0">
            <mat-expansion-panel-header>
                <mat-panel-title>Sezona</mat-panel-title>
            </mat-expansion-panel-header>
            <ul>
                @for (season of seasons; track $index) {
                    <li>
                        <label class="checkbox-container">
                            <input
                                type="checkbox"
                                [checked]="cragForm.controls[season.season].value"
                                [formControlName]="season.season"
                                (change)="changeSeason(season.season)"
                            />
                            <span class="checkmark"></span>
                            <span class="checkmark-label">{{ season.formattedSeason }}</span>
                        </label>
                    </li>
                }
            </ul>
        </mat-expansion-panel>
    </mat-accordion>
    <div class="p-l-16 p-r-16" [formGroup]="cragForm">
        <label class="checkbox-container">
            <input
                type="checkbox"
                [checked]="cragForm.controls.rainproof.value"
                [formControlName]="'rainproof'"
                (change)="changeRainProof()"
            />
            <span class="checkmark m-t-4"></span>
            <span class="checkmark-label">Možno plezanje v dežju</span>
        </label>
    </div>
    <mat-divider></mat-divider>
    <mat-accordion multi="true" displayMode="flat" [formGroup]="cragForm">
        <mat-expansion-panel [expanded]="activatedWallAngles.length > 0">
            <mat-expansion-panel-header>
                <mat-panel-title>Naklon stene</mat-panel-title>
            </mat-expansion-panel-header>
            <ul>
                @for (angle of wallAngles; track $index) {
                    <li>
                        <label class="checkbox-container">
                            <input
                                type="checkbox"
                                [checked]="cragForm.controls[angle.wallAngle].value"
                                [formControlName]="angle.wallAngle"
                                (change)="changeWallAngle(angle.wallAngle)"
                            />
                            <span class="checkmark"></span>
                            <span class="checkmark-label">{{ angle.formattedWallAngle }}</span>
                        </label>
                    </li>
                }
            </ul>
        </mat-expansion-panel>

        <mat-expansion-panel expanded="">
            <mat-expansion-panel-header>
                <mat-panel-title> Čas dostopa </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-slider [min]="0" [max]="120" step="5" thumbLabel tickInterval="10">
                <input formControlName="minApproachTime" matSliderStartThumb (dragEnd)="approachTimeChanged()" />
                <input formControlName="maxApproachTime" matSliderEndThumb (dragEnd)="approachTimeChanged()" />
            </mat-slider>
            <div class="flex flex-row flex-justify-space-between">
                <span>{{ cragForm.controls.minApproachTime.value }} min</span>
                <span>{{ cragForm.controls.maxApproachTime.value }} min</span>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
    <div class="p-l-16 p-r-16" [formGroup]="cragForm">
        <label class="checkbox-container">
            <input
                type="checkbox"
                [checked]="cragForm.controls.allowEmpty.value"
                [formControlName]="'allowEmpty'"
                (change)="changeAllowEmpty()"
            />
            <span class="checkmark m-t-4"></span>
            <span class="checkmark-label">Prikaži plezališča brez podatkov</span>
        </label>
    </div>
    <div class="flex flex-justify-space-between m-l-8" (click)="removeAllFilters()">
        <button type="button" (click)="removeAllFilters()" class="tertiary-button flex flex-align-center">
            <div>
                <app-refresh-icon></app-refresh-icon>
            </div>
            <div class="p-l-4">
                <span>Ponastavi vse</span>
            </div>
        </button>
    </div>
</section>
