@use '@angular/material' as mat;
@use './../../../../../../m3-theme.scss' as m3-theme;

$light-grey: mat.get-theme-color(m3-theme.$light-theme, primary, 60);

:host {
    .ascent-type-option {
        height: 80px;
        border: 1px solid transparent;
        border-radius: 8px;
        cursor: pointer;
    }

    .ascent-type-option:hover {
        border: 1px solid var(--mat-sys-on-surface-variant);
        border-radius: 8px;
        color: var(--mat-sys-secondary);
    }

    .ascent-type-option-disabled {
        background-color: $light-grey;
        height: 80px;
        opacity: 0.5;
        border: 1px solid var(--mat-sys-on-surface-variant);
        border-radius: 8px;
    }

    .ascent-type-option.selected {
        border: 1px solid var(--mat-sys-on-surface-variant);
        border-radius: 8px;
        color: var(--mat-sys-secondary);
    }
}
