@use '@angular/material' as mat;
@use './../../../../../m3-theme.scss' as m3-theme;

$light-grey: mat.get-theme-color(m3-theme.$light-theme, primary, 60);

:host {
    .wall-angle-option {
        height: 80px;
        border: 1px solid transparent;
        border-radius: 8px;
        cursor: pointer;
    }

    .wall-angle-option:hover {
        border: 1px solid var(--mat-sys-on-surface-variant);
        border-radius: 8px;
        color: var(--mat-sys-primary);
    }

    .wall-angle-option-disabled {
        background-color: $light-grey;
        height: 80px;
        opacity: 0.5;
        border: 1px solid var(--mat-sys-primary);
        border-radius: 8px;
    }

    .wall-angle-option.selected {
        border: 1px solid var(--mat-sys-on-surface-variant);
        border-radius: 8px;
        color: var(--mat-sys-primary);
    }

    .wall-angle-option-disabled-not-selected {
        border: none !important;
        border-radius: 8px;
        background-color: $light-grey;
    }
}
