<div [class.active]="sortIndication === 'highlight' && currentlySortedField === field">
    @if (label) {
        {{ label }}
    }
    @if (icon) {
        @switch (icon) {
            @case ('comment') {
                <app-comment-icon></app-comment-icon>
            }
            @case ('check') {
                <app-check-icon></app-check-icon>
            }
            @case ('star') {
                <app-star-full-icon></app-star-full-icon>
            }
            @case ('multipitch') {
                MP
            }
        }
    }
    @if (svgIcon) {
        <mat-icon [svgIcon]="svgIcon"></mat-icon>
    }
    @if (sortIndication === 'arrows') {
        <app-arrow-up-icon [active]="currentlySortedField === field && currentSortDirection === 1"></app-arrow-up-icon>
    }
    @if (sortIndication === 'arrows') {
        <app-arrow-down-icon [active]="currentlySortedField === field && currentSortDirection === -1"></app-arrow-down-icon>
    }
</div>
