<div [class.active]="sortIndication === 'highlight' && currentlySortedField === field">
    @if (label) {
        {{ label }}
    }
    @if (icon) {
        <mat-icon> {{ icon }} </mat-icon>
    }
    @if (svgIcon) {
        <mat-icon [svgIcon]="svgIcon"></mat-icon>
    }
    @if (sortIndication === 'arrows') {
        <app-arrow-up-icon [active]="currentlySortedField === field && currentSortDirection === 1"></app-arrow-up-icon>
    }
    @if (sortIndication === 'arrows') {
        <app-arrow-down-icon [active]="currentlySortedField === field && currentSortDirection === -1"></app-arrow-down-icon>
    }
</div>
