@if (error) {
    <app-data-error [error]="error"></app-data-error>
}

<app-title [title]="'Plezalni dnevnik'"></app-title>
<app-activity-header active="dnevnik"></app-activity-header>
@if (loading) {
    <app-loader></app-loader>
} @else {
    <form [formGroup]="form" #canDeactivateForm="ngForm">
        @if (currentView === 'calendar') {
            <section id="calendar">
                @if (this.activities) {
                    <div class="flex flex-row flex-justify-space-between">
                        <div>
                            <mat-form-field appearance="outline">
                                <mat-select formControlName="month">
                                    @for (month of months; track $index) {
                                        <mat-option [value]="month">{{ month }}</mat-option>
                                    }
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-select formControlName="year">
                                    @for (year of years; track year) {
                                        <mat-option [value]="year">{{ year }}</mat-option>
                                    }
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="flex flex-row">
                            <div class="m-t-4 sortable" (click)="decreaseMonth()">
                                <app-arrow-icon></app-arrow-icon>
                            </div>
                            <div class="flex flex-row m-4 sortable" (click)="goToToday()">
                                <app-today-icon></app-today-icon>
                                @if (this.breakpointService.sgGtSm()) {
                                    <span class="m-l-4 p-t-2">Danes</span>
                                }
                            </div>
                            <div class="m-t-4 sortable" (click)="increaseMonth()">
                                <app-arrow-icon [direction]="'right'"></app-arrow-icon>
                            </div>
                        </div>
                    </div>
                    <div class="calendar-grid">
                        <div class="day-tag">Pon</div>
                        <div class="day-tag">Tor</div>
                        <div class="day-tag">Sre</div>
                        <div class="day-tag">Čet</div>
                        <div class="day-tag">Pet</div>
                        <div class="day-tag">Sob</div>
                        <div class="day-tag">Ned</div>
                        @for (day of days; track $index) {
                            <div
                                class="day"
                                [class.today]="day.isToday"
                                [class.empty]="!day.day"
                                [class.outside-month]="!day.isWithinThisMonth"
                            >
                                <div class="p-b-8">
                                    {{ day.day | date: 'd' : undefined : CmsLocale }}
                                </div>
                                <div
                                    class="flex"
                                    [class.flex-row]="breakpointService.sgLtMd()"
                                    [class.flex-column]="breakpointService.sgGtSm()"
                                >
                                    @for (activity of day.activities; track $index) {
                                        <div
                                            class="flex flex-row sortable"
                                            (click)="openDay(day)"
                                            [class.p-t-8]="breakpointService.sgGtSm()"
                                        >
                                            <div class="p-r-8">
                                                <span class="dot" [style.backgroundColor]="activity | activityColor"></span>
                                            </div>
                                            @if (breakpointService.sgGtSm()) {
                                                <div class="activity-summary">
                                                    <span>{{ activity | activityLabel }}</span
                                                    ><br />
                                                    <span>
                                                        {{ activity.routes.length }} smeri<br />
                                                        {{ activity.routes | activityTotalMeters }} m<br />
                                                        najtežja smer:
                                                        {{ activity.routes | activityMaxDifficulty | async }}
                                                    </span>
                                                </div>
                                            }
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                }
            </section>
        } @else if (currentView === 'list') {
            <section id="activity-list">
                <div class="flex flex-row flex-justify-space-between flex-wrap date-selector p-t-4">
                    <div>
                        <mat-form-field class="no-hint" appearance="outline">
                            <mat-label>Datum</mat-label>
                            <input matInput formControlName="date" [matDatepicker]="picker" [max]="maxDate" />
                            <mat-datepicker-toggle matIconSuffix [for]="picker"
                                ><app-calendar-icon matDatepickerToggleIcon></app-calendar-icon
                            ></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div>
                        <button type="button" class="quaternary-button" (click)="showCalendar()">
                            <div class="flex flex-row">
                                <app-calendar-icon></app-calendar-icon>
                                <span class="p-l-8 p-t-2"> Koledar </span>
                            </div>
                        </button>
                    </div>
                    <div class="flex flex-row">
                        <div class="m-t-4 sortable" (click)="decreaseDay()">
                            <app-arrow-icon></app-arrow-icon>
                        </div>
                        <div class="flex flex-row m-4 sortable" (click)="goToToday()">
                            <app-today-icon></app-today-icon>
                            @if (this.breakpointService.sgGtSm()) {
                                <span class="m-l-4 p-t-2">Danes</span>
                            }
                        </div>
                        <div class="m-t-4 sortable" (click)="increaseDay()">
                            <app-arrow-icon [direction]="'right'"></app-arrow-icon>
                        </div>
                    </div>
                </div>
                @for (activity of activitiesForDay; track $index) {
                    <div class="flex flex-row activity-log-entry m-b-16 p-t-8">
                        <div class="p-8">
                            <span class="dot large" [style.backgroundColor]="activity | activityColor"></span>
                        </div>
                        <div class="activity-summary w-100">
                            <div class="flex flex-row flex-justify-space-between w-100">
                                <div>
                                    <h4>
                                        {{ activity | activityLabel }}
                                    </h4>
                                </div>
                                <div class="sortable p-8">
                                    <app-more-icon [mat-menu-trigger-for]="menu"></app-more-icon>

                                    <mat-menu #menu="matMenu">
                                        <button mat-menu-item (click)="rowAction$.next({ item: activity, action: 'editActivity' })">
                                            <span>Uredi vnos</span>
                                        </button>
                                        <button mat-menu-item (click)="rowAction$.next({ item: activity, action: 'deleteActivity' })">
                                            <span>Odstrani vnos</span>
                                        </button>
                                    </mat-menu>
                                </div>
                            </div>
                            @if (activity.type === 'crag') {
                                <div class="w-100 flex flex-row activity-row">
                                    <div>Plezališče</div>
                                    <div>
                                        <a [routerLink]="['/plezalisce', activity.crag.slug]"> {{ activity.name }}</a>
                                    </div>
                                </div>
                                <div class="w-100 flex flex-row activity-row">
                                    <div>Soplezalci</div>
                                    <div>{{ activity.partners }}</div>
                                </div>
                                <div class="w-100 flex flex-row activity-row">
                                    <div>Opombe</div>
                                    <div>{{ activity.notes }}</div>
                                </div>
                                <div class="w-100 flex flex-row activity-row">
                                    <div>Povzetek</div>
                                    <div>{{ activity.routes.length }} vzponov, {{ activity.routes | activityTotalMeters }}m</div>
                                </div>

                                <div
                                    class="w-100 flex activity-row"
                                    [class.flex-row]="breakpointService.sgGtSm()"
                                    [class.flex-column]="breakpointService.sgLtMd()"
                                >
                                    <div>Vzponi</div>
                                    <div class="w-100 flex flex-column">
                                        @for (route of activity.routes; track $index) {
                                            <div
                                                class="row activity-route-row flex flex-row"
                                                app-activity-route-row
                                                [route]="route"
                                                [columns]="tableColumnsAsObject"
                                            ></div>
                                        }
                                    </div>
                                </div>
                            } @else if (activity.type === 'other') {
                                <div class="w-100 flex flex-row activity-row">
                                    <div>Lokacija</div>
                                    <div>{{ activity.name }}</div>
                                </div>
                                <div class="w-100 flex flex-row activity-row">
                                    <div>Trajanje</div>
                                    <div>{{ activity.duration }}min</div>
                                </div>
                                <div class="w-100 flex flex-row activity-row">
                                    <div>Opombe</div>
                                    <div>{{ activity.notes }}</div>
                                </div>
                            }
                        </div>
                    </div>
                } @empty {
                    <div>Za izbrani datum ni zabeleženih plezalnih aktivnosti.</div>
                }
                <div class="m-t-16">
                    <button type="button" mat-stroked-button (click)="addActivity()">
                        <div class="flex flex-row">
                            <div>
                                <app-plus-icon></app-plus-icon>
                            </div>
                            <div class="p-t-2">Dodaj aktivnost</div>
                        </div>
                    </button>
                </div>
            </section>
        }
    </form>
}
