@use '@angular/material' as mat;
@use './../../../../m3-theme.scss' as m3-theme;
$grey: mat.get-theme-color(m3-theme.$light-theme, primary, 60);
$light-blue: mat.get-theme-color(m3-theme.$light-theme, secondary, 70);

@use './../../../../styles/global.scss' as global;

:host {
    section#title {
        height: 100px;
        padding: 0 16px 16px 16px;
        background-color: var(--mat-sys-surface);
        align-items: center;
        display: flex;
        text-align: center;
    }

    section#calendar {
        display: block;
        padding: 16px;

        mat-form-field {
            width: 150px;
            margin-right: 16px;

            @media only screen and (max-width: global.$breakpoint-md) {
                width: 100px !important;
            }
        }

        .calendar-grid {
            display: grid;
            margin-top: 0px;
            gap: 0px;
            grid-template-columns: repeat(7, 1fr);
        }

        .day {
            padding: 8px;
            border: 1px solid #e5e5e5;
            border-radius: 0px;
            text-align: center;
            min-height: 200px;

            @media only screen and (max-width: global.$breakpoint-md) {
                min-height: 50px !important;
            }
        }

        .day-tag {
            color: #737373;
            text-align: center;
            margin-bottom: 4px;
        }

        .day.today {
            background-color: var(--mat-button-filled-disabled-container-color);
        }

        .day.outside-month {
            color: var(--mat-sys-on-surface-variant);
        }

        .activity-summary {
            text-align: left;
        }

        .activity-summary > span:nth-child(n + 2) {
            font-size: 13px;
        }
    }

    section#activity-list {
        & {
            padding: 16px;
        }

        mat-form-field {
            width: 160px;
            margin-right: 16px;
        }

        button {
            border: 3px solid #ffffff;
            border-radius: 8px;
        }

        button:hover {
            border: 3px solid #aaccf0;
            border-radius: 8px;
        }

        .activity-log-entry {
            border-top: 1px solid $grey;
        }

        .activity-row {
            margin-bottom: 4px;
            padding-left: 4px;
        }

        .activity-row > div:first-child {
            width: 150px;
            min-width: 150px;
        }

        .date-selector {
            margin-bottom: 16px;
        }

        table {
            table-layout: auto;
        }

        ::ng-deep {
            .activity-route-row > div:first-child {
                flex-basis: 190px;
                margin-right: 16px;
            }
            .activity-route-row > div:nth-child(2) {
                flex-basis: 80px;
            }

            .activity-route-row > div:nth-child(3) {
                flex-basis: 250px;
            }

            .activity-route-row > div:nth-child(4) {
                flex-basis: 80%;
                padding-left: 8px;
            }
            .activity-route-row > div:nth-child(5) {
                text-align: right !important;
                flex-basis: 150px;
            }
        }
    }
}
