@if (error) {
<app-data-error [error]="error"></app-data-error>
}

<section id="title">
  <h1>Plezalni dnevnik</h1>
</section>
<app-activity-header active="dnevnik"></app-activity-header>
@if (loading) {
<app-loader></app-loader>
} @else {

<section id="calendar">
  @if (this.activities) {

  <form [formGroup]="form" #canDeactivateForm="ngForm">
    <div class="flex flex-row flex-justify-space-between">
      <div>
        <mat-form-field appearance="outline">
          <mat-select formControlName="month">
            @for (month of months; track $index) {
            <mat-option [value]="month">{{ month }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-select formControlName="year">
            @for (year of years; track year) {
            <mat-option [value]="year">{{ year }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>

      <div class="flex flex-row">
        <div class="m-t-4 sortable" (click)="decreaseMonth()">
          <app-arrow-icon></app-arrow-icon>
        </div>
        <div class="flex flex-row m-4 sortable" (click)="goToToday()">
          <app-today-icon></app-today-icon>
          <span class="m-l-4 p-t-2">Danes</span>
        </div>
        <div class="m-t-4 sortable" (click)="increaseMonth()">
          <app-arrow-icon [direction]="'right'"></app-arrow-icon>
        </div>
      </div>
    </div>
    <div class="calendar-grid">
      <div class="day-tag">Pon</div>
      <div class="day-tag">Tor</div>
      <div class="day-tag">Sre</div>
      <div class="day-tag">Čet</div>
      <div class="day-tag">Pet</div>
      <div class="day-tag">Sob</div>
      <div class="day-tag">Ned</div>
      @for (day of days; track $index) {
      <div
        class="day"
        [class.today]="day.isToday"
        [class.empty]="!day.day"
        [class.outside-month]="!day.isWithinThisMonth"
        [class.sortable]="day.activities.length > 0"
      >
        <div class="p-b-8">
          {{ day.day | date : "d" : undefined : CmsLocale }}
        </div>
        @for (activity of day.activities; track $index) {
        <div class="flex flex-row">
          <div class="p-r-8">
            <span
              class="dot"
              [style.backgroundColor]="activity | activityColor"
            ></span>
          </div>
          <div class="activity-summary">
            <span>{{ activity | activityLabel }}</span
            ><br />
            <span>
              {{ activity.routes.length }} smeri<br />
              {{ activity.routes | activityTotalMeters }} m<br />
              najtežja smer:
              {{ activity.routes | activityMaxDifficulty | async }}
            </span>
          </div>
        </div>
        }
      </div>
      }
    </div>
  </form>
  }
</section>
}
