<div class="p-16">
    <h2>Premik sektorja v drugo plezališče</h2>
    <div>Izberi plezališče v katerega želiš premakniti sektor {{ data.sector.label }}.</div>
    <form class="form no-hints" [formGroup]="form" (submit)="save()">
        <div class="flex flex-column m-t-16">
            <mat-label>Ciljno plezališče</mat-label>
            <mat-form-field class="m-t-8">
                <input type="text" placeholder="Izberi plezališče" matInput formControlName="crag" [(matAutocomplete)]="auto" />
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                    @for (crag of filteredCrags | async; track crag) {
                        <mat-option [value]="crag">
                            {{ crag.name }}
                        </mat-option>
                    }
                </mat-autocomplete>
            </mat-form-field>
        </div>
        <mat-dialog-actions>
            <div fxLayout="row" fxLayoutAlign="end center">
                @if (!saving) {
                    <button mat-flat-button [mat-dialog-close]="null">Prekliči</button>
                    @if (!saving) {
                        <button type="submit" mat-button color="primary" [disabled]="!form.valid || form.pristine">Shrani</button>
                    }
                }
                @if (saving) {
                    <span class="loading">
                        <mat-spinner diameter="30"></mat-spinner>
                    </span>
                }
            </div>
        </mat-dialog-actions>
    </form>
</div>
