:host {
    section#title {
        height: 100px;
        padding: 0 16px 16px 16px;
        background-color: var(--mat-sys-surface);
        align-items: center;
        display: flex;
        text-align: center;
    }
}
