:host {
  a {
    text-decoration: none;
    color: var(--mat-sys-secondary);
  }

  mat-icon {
    height: 20px !important;
    width: 20px !important;
    vertical-align: top;
    padding-top: 2px;
  }

  section#info {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 0 6px 0 6px;

    mat-icon {
      height: 40px !important;
      width: 40px !important;
      margin: 4px;
    }

    div:not(:first-child) {
      border-left: 1px solid var(--mat-sys-on-surface-variant);
      padding-left: 16px;
    }
  }

  section#notification {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    box-sizing: content-box !important;
  }

  section#description > div:first-child {
    min-width: 40%;
    max-width: 40%;
  }

  section#charts {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 0 6px 0 6px;

    @media (max-width: 960px) {
      div:first-child {
        width: 100%;
      }
    }

    @media (min-width: 960px) {
      div:first-child {
        min-width: 600px;
        max-width: 60%;
      }
    }
  }

  section#approach {
    width: 100% !important;
    position: relative;
    margin-top: 16px;

    .crag-map {
      width: 100%;
    }

    @media (max-width: 960px) {
      div.access {
        width: 100%;
      }
    }

    @media (min-width: 960px) {
      div.access {
        flex-shrink: 1;
        min-width: 40%;
        max-width: 40%;
      }
    }
  }
}

.card {
  margin-bottom: 16px;
}

.label {
  padding: 8px 0;
}

.row {
  font-weight: 500;
}
.content {
  font-weight: normal;
  padding: 10px 0;
}
