<main class="w-100 flex flex-column">
    <section id="info">
        @if (sgCrag().orientations && sgCrag().orientations.length > 0) {
            <div class="flex flex-align-center">
                <app-orientation-icon [sgOrientations]="sgCrag().orientations" matTooltip="Usmerjenost"></app-orientation-icon>
            </div>
        } @else if (sgCrag().orientation) {
            <div>
                <app-orientation-icon [sgOrientations]="sgCrag().orientation"></app-orientation-icon>
            </div>
        }
        @if (sgCrag().approachTime) {
            <div class="flex flex-row flex-align-end">
                <app-approach-icon></app-approach-icon>
                <span class="value">{{ sgCrag().approachTime }} min</span>
            </div>
        }
        <div class="flex flex-row flex-align-end">
            <app-height-icon></app-height-icon>
            <span class="value">{{ routeHeight.minHeight }} - {{ routeHeight.maxHeight }} m</span>
        </div>
        @if (sgCrag().wallAngles && sgCrag().wallAngles.length > 0) {
            <div class="flex flex-row gap-16">
                @for (angle of sgCrag().wallAngles; track angle) {
                    <app-wall-angle-icon [wallAngle]="angle" [matTooltip]="angle | wallAngle"></app-wall-angle-icon>
                }
            </div>
        }
        @if (sgCrag().seasons && sgCrag().seasons.length > 0) {
            <div class="flex flex-row gap-16">
                @for (season of sgCrag().seasons; track season) {
                    <app-season-icon [season]="season" [matTooltip]="season | season"></app-season-icon>
                }
            </div>
        }
        @if (sgCrag().rainproof) {
            <div>
                <app-rainproof-icon matTooltip="Plezanje v dežju je možno"></app-rainproof-icon>
            </div>
        }
    </section>

    @if (missingInfo.length > 0) {
        <section id="notification" class="w-100 p-8 flex">
            <div>
                <app-question-icon></app-question-icon>
            </div>
            <div class="p-l-8">
                Plezališče je brez podatka o
                @for (info of missingInfo; let isLast = $last; let isFirst = $first; track $index) {
                    @if (!isFirst && $index !== missingInfo.length - 1) {
                        <span>, </span>
                    }
                    @if (isLast && !isFirst) {
                        <span> in </span>
                    }
                    <span>{{ info }}</span>
                }
                .
                <a mat-menu-item [routerLink]="['/urejanje/uredi-plezalisce', sgCrag().id]">Dodaj manjkajoče podatke.</a>
            </div>
        </section>
    }
    <section id="description" class="flex" [class.flex-column]="breakpointService.sgLtLg()" [class.flex-row]="breakpointService.sgGtMd()">
        @if (sgCrag().images && sgCrag().images.length > 0) {
            <app-crag-image [crag]="sgCrag()"></app-crag-image>
        } @else {
            <div id="crag-image" class="w-100 flex flex-row">
                <div>
                    <app-question-icon></app-question-icon>
                </div>
                <div class="p-l-8">
                    Plezališče je brez naslovne fotografije.
                    <a mat-menu-item [routerLink]="['/urejanje/uredi-plezalisce', sgCrag().id]">Dodaj fotografijo.</a>
                </div>
            </div>
        }
        @if (sgCrag().description) {
            <div class="p-8">
                <h2>Opis plezališča</h2>
                {{ sgCrag().description }}
            </div>
        } @else {
            <div class="w-100">
                <div>
                    <h2>Opis plezališča</h2>
                </div>
                <div class="w-100 flex">
                    <div>
                        <app-question-icon></app-question-icon>
                    </div>
                    <div>
                        Plezališče je brez opisa.
                        <a mat-menu-item [routerLink]="['/urejanje/uredi-plezalisce', sgCrag().id]">Dodaj opis.</a>
                    </div>
                </div>
            </div>
        }
    </section>
    <section id="charts" class="w-100">
        <div>
            <h2>Distribucija težavnosti</h2>
            @if (gradeSlots && gradeSlots.regularSlots && gradeSlots.regularSlots.length > 0) {
                <app-distribution-chart
                    [distribution]="needsCompactSlots ? gradeSlots.compactSlots : gradeSlots.regularSlots"
                    direction="vertical"
                    class="w-100"
                ></app-distribution-chart>
            }
        </div>
        <div class="attendance">
            <h2>Obiskanost po mesecih</h2>
            <app-distribution-chart [distribution]="attendanceDistribution"></app-distribution-chart>
        </div>
    </section>
    <section
        id="approach"
        class="w-100 flex m-t-16"
        [class.flex-row]="breakpointService.sgGtMd()"
        [class.flex-column]="breakpointService.sgLtLg()"
    >
        <div class="access">
            <h2>Dostop</h2>
            <div>
                @if (sgCrag().access) {
                    {{ sgCrag().access }}
                } @else {
                    <div class="w-100 flex">
                        <div>
                            <app-question-icon></app-question-icon>
                        </div>
                        <div>
                            Plezališče je brez opisa dostopa.
                            <a mat-menu-item [routerLink]="['/urejanje/uredi-plezalisce', sgCrag().id]">Dodaj opis dostopa.</a>
                        </div>
                    </div>
                }
            </div>
            <div class="flex">
                @if (!sgCrag().lat || !sgCrag().lon) {
                    <div class="w-100 flex">
                        <app-question-icon></app-question-icon>
                        <div>
                            Plezališče je brez koordinat stene.
                            <a mat-menu-item [routerLink]="['/urejanje/uredi-plezalisce', sgCrag().id]">Dodaj koordinate stene.</a>
                        </div>
                    </div>
                } @else {
                    <app-wall-icon matTooltip="Lokacija plezališča"></app-wall-icon>
                    {{ sgCrag().lat | number: '1.5-5' }}
                    {{ sgCrag().lon | number: '1.5-5' }}
                }
            </div>
        </div>
        @if (sgCrag().lat && sgCrag().lon) {
            <div class="crag-map">
                @defer (on viewport) {
                    <app-map [height]="260" [crag]="sgCrag()" [crags]="crags$"></app-map>
                } @placeholder {
                    <p class="fallback">Zemljevid</p>
                }
            </div>
        }
    </section>
</main>
