<section id="tabs">
    <div>&nbsp;</div>
    @for (tab of tabs; track $index) {
        <div [class.active]="tab.slug === (active | signalPipe)" (click)="setActiveTab(tab)">
            @if (tab.icon === 'calendar') {
                <app-calendar-icon [active]="tab.slug === (active | signalPipe)"></app-calendar-icon>
            } @else if (tab.icon === 'ascents') {
                <app-ascents-icon [active]="tab.slug === (active | signalPipe)"></app-ascents-icon>
            } @else if (tab.icon === 'statistics') {
                <app-statistics-icon [active]="tab.slug === (active | signalPipe)"></app-statistics-icon>
            }
            @if (breakpointService.sgGtSm()) {
                <span>
                    {{ tab.label }}
                </span>
            }
        </div>
        <div>&nbsp;</div>
    }
    <div>&nbsp;</div>
</section>
