@use '@angular/material' as mat;
@use './../../../../m3-theme.scss' as m3-theme;

$grey: mat.get-theme-color(m3-theme.$light-theme, primary, 60);

:host {
    mat-expansion-panel {
        box-shadow: none !important;
        margin-bottom: 8px !important;
        background: none !important;
    }
    mat-expansion-panel:hover {
        background: none !important;
    }
    mat-expansion-panel-header {
        border-bottom: 1px solid $grey;
    }
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main > section {
        width: 100%;
        max-width: 512px;
    }
}

.preview {
    &:last-child {
        border-bottom: none;
    }
    padding: 16px 0 16px 0;
}
