<mat-accordion>
  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
      <mat-panel-title> Komentarji </mat-panel-title>
    </mat-expansion-panel-header>

    <main class="m-l-8 m-r-8">
      <section id="form" class="m-b-16 m-t-16">
        <app-comment-form
          [entity]="route"
          (commentSaved)="onCommentSaved($event)"
        ></app-comment-form>
      </section>
      <section id="comments">
        @for (comment of comments; track comment) {
          <app-comment [comment]="comment" class="w-100"></app-comment>
        }
      </section>
    </main>
  </mat-expansion-panel>
</mat-accordion>
