<svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 40 40"
    [attr.width]="size | signalPipe"
    [attr.height]="size | signalPipe"
    className="fill-current"
>
    <path d="M 11 3 a 1 1 0 0 1 2 0 v 4 a 1 1 0 0 1 -2 0 z" />
    <path d="M 19, 3 a 1 1 0 0 1 2 0 v 4 a 1 1 0 0 1 -2 0 z" />
    <path d="M 27, 3 a 1 1 0 0 1 2 0 v 4 a 1 1 0 0 1 -2 0 z" />
    <path
        d="M 6, 24 a 14 14 0 0 1 28 0 h -13 V 34.5 a 3.5 3.5 0 0 1 -7 0 v -1 h 2 v 1 a 1.5 1.5 0 0 0 3 0 v -10.5 z M 32, 24 a 12 12 0 0 0 -24 0 z M 8,24 v -2 h 24 v 2 z"
    />
</svg>
