@if (error) {
    <app-data-error></app-data-error>
}

@if (!error) {
    <div>
        <div class="white-back mt-16">
            <div class="container py-8">
                <h1>Vrhovi po državah</h1>
            </div>
        </div>
        @if (loading) {
            <app-loader></app-loader>
        }
        @if (!loading) {
            <div class="container mt-16">
                <mat-card>
                    <mat-card-content>
                        <table>
                            <thead>
                                <tr>
                                    <th>Država</th>
                                    <th>Št. vrhov</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (country of peaksCountries; track country) {
                                    <tr [routerLink]="['/alpinizem/vrhovi/drzava', country.slug]">
                                        <td>{{ country.name }}</td>
                                        <td>
                                            {{ country.nrPeaks }}
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </mat-card-content>
                </mat-card>
            </div>
        }
    </div>
}
