@use "@angular/material" as mat;
@use "./m3-theme" as m3-theme;
@use "sass:string";
@use "./styles/global" as global;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
/* stylelint-disable-next-line scss/at-mixin-argumentless-call-parentheses */
@include mat.core();
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
body {
  @include mat.core-theme(m3-theme.$light-theme);

  @include mat.all-component-themes(m3-theme.$light-theme);
  @include mat.system-level-colors(m3-theme.$light-theme);
  @include mat.system-level-typography(m3-theme.$light-theme);

  @debug mat.get-theme-color(m3-theme.$light-theme, neutral, 50);
  @include mat.form-field-overrides(
    (
      container-vertical-padding: 8px,
      container-height: 40px,
      filled-active-indicator-height: 40px,
      filled-focus-active-indicator-height: 40px,
    )
  );

  @include mat.select-overrides(());

  @include mat.button-overrides(
    (
      outlined-label-text-size: 16px,
      outlined-hover-state-layer-opacity: 0,
    )
  );

  @include mat.expansion-overrides(
    (
      container-shape: 0,
      header-indicator-color: var(--mat-sys-primary),
    )
  );

  @include mat.checkbox-overrides(
    (
      unselected-icon-color:
        mat.get-theme-color(m3-theme.$light-theme, neutral-variant, 30),
      unselected-focus-state-layer-color: var(--mat-sys-secondary),
      selected-icon-color: var(--mat-sys-secondary),
      selected-pressed-icon-color: var(--mat-sys-secondary),
      selected-pressed-state-layer-color: var(--mat-sys-secondary),
      selected-focus-state-layer-color: var(--mat-sys-secondary),
      selected-focus-icon-color: var(--mat-sys-secondary),
      selected-hover-icon-color: var(--mat-sys-secondary),
      selected-focus-state-layer-opacity: 0,
      selected-hover-state-layer-opacity: 0,
      selected-pressed-state-layer-opacity: 0,
      unselected-focus-state-layer-opacity: 0,
      unselected-hover-state-layer-opacity: 0,
      unselected-pressed-state-layer-opacity: 0,
      unselected-focus-icon-color:
        mat.get-theme-color(m3-theme.$light-theme, neutral-variant, 60),
      state-layer-size: 20px,
    )
  );

  .mdc-checkbox__background {
    border: 1px solid
      mat.get-theme-color(m3-theme.$light-theme, neutral-variant, 30);
    border-radius: 4px;
    width: 16px !important;
    height: 16px !important;
    top: 0 !important;
    left: 0 !important;
  }
  .mdc-checkbox:hover
    > .mdc-checkbox__native-control:not(:checked)
    ~ .mdc-checkbox__background {
    background-color: #ffffff;
    border: 1px solid
      mat.get-theme-color(m3-theme.$light-theme, neutral-variant, 60) !important;
  }

  .mdc-checkbox {
    padding: 0;
  }

  .mat-internal-form-field > label {
    padding-left: 16px !important;
  }

  & {
    --mdc-checkbox-state-layer-size: 40px;
    --mdc-checkbox-unselected-focus-icon-color: #737373;
    --mat-checkbox-label-text-size: --mat-sys-body-large-size;
    --mdc-filled-text-field-container-color: white;
    --mdc-outlined-text-field-container-shape: 8px;
  }

  &.dark-theme {
    @include mat.all-component-colors(m3-theme.$dark-theme);
    @include mat.system-level-colors(m3-theme.$dark-theme);
  }

  & {
    margin: 0;
    font-family: var(--mat-sys-label-large-font) !important;
    color: var(--mat-sys-primary);
  }
}

/* The container */
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  border: 1px solid
    mat.get-theme-color(m3-theme.$light-theme, neutral-variant, 30);
  background-color: #ffffff;
  border-radius: 6px;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #ffffff;
  border: 1px solid
    mat.get-theme-color(m3-theme.$light-theme, neutral-variant, 60);
}

.checkbox-container input:focus ~ .checkmark {
  border: 1px solid mat.get-theme-color(m3-theme.$light-theme, secondary, 35);
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: mat.get-theme-color(m3-theme.$light-theme, secondary, 50);
  border: 1px solid rgb(0, 0, 0, 0%);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 5px;
  top: 2px;
  width: 3px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

a {
  color: var(--mat-sys-primary);
  font-family: var(--mat-sys-label-large-font);
  font-size: 16px;
  line-height: 24px;
  font-weight: 400 !important;
  text-decoration: none;
  letter-spacing: 0%;
  cursor: pointer;
  &.secondary {
    color: var(--mat-sys-secondary);
  }
}

a:hover {
  color: var(--mat-sys-primary) !important;
  text-decoration: underline !important;
  &.secondary {
    color: var(--mat-sys-secondary) !important;
  }
}

a:active {
  color: mat.get-theme-color(m3-theme.$light-theme, primary, 50) !important;
  text-decoration: underline;
  &.secondary {
    color: mat.get-theme-color(m3-theme.$light-theme, secondary, 60) !important;
  }
}

h1 {
  font: var(--mat-sys-headline-large);
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
  color: var(--mat-sys-primary);
}

h2 {
  color: var(--mat-sys-primary);
  font: var(--mat-sys-headline-small);
  line-height: 28px;
}

* {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  outline: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dense-theme {
  @include mat.all-component-densities(-2);
}

$spaceamounts: (
  0,
  1,
  2,
  3,
  4,
  8,
  16,
  24,
  32,
  40,
  48,
  64
); // Adjust this to include the pixel amounts you need.
$sides: (top, bottom, left, right); // Leave this variable alone

@each $space in $spaceamounts {
  @each $side in $sides {
    .m-#{string.slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space}px !important;
    }

    .p-#{string.slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space}px !important;
    }
  }

  .m-#{$space} {
    margin: #{$space}px !important;
  }

  .p-#{$space} {
    padding: #{$space}px !important;
  }
}

.mat-mdc-menu-panel.custom-menu {
  max-width: 90vw;

  .mat-mdc-menu-content {
    padding: 0;
  }
}

.flex {
  display: flex;
}
.flex-start {
  justify-content: flex-start;
}
.flex-end {
  justify-content: flex-end;
}
.flex-space-between {
  justify-content: space-between;
}
.flex-space-around {
  justify-content: space-around;
}
.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}
.flex-align-start {
  align-items: flex-start;
}
.flex-align-end {
  align-items: flex-end;
}
.flex-align-center {
  align-items: center;
}
$grey: mat.get-theme-color(m3-theme.$light-theme, primary, 60);
.row {
  align-items: center;
  padding: 16px;
  border-top: 1px solid $grey;

  @media only screen and (max-width: global.$breakpoint-md) {
    padding: 8px !important;
  }
}
