@use '@angular/material' as mat;

// @use './m3-theme' as m3-theme;
@use 'sass:string';
@use './styles/global' as global;
@use './styles/reset' as reset;
@use './styles/button' as button;
@use './styles/checkbox' as checkbox;
@use './styles/radio-button' as radio-button;

// Plus imports for other components in your app.
@import 'https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap';

body {
    @include mat.form-field-overrides(
        (
            container-vertical-padding: 8px,
            container-height: 40px,
            filled-active-indicator-height: 40px,
            filled-focus-active-indicator-height: 40px,
            // outlined-outline-color: mat.get-theme-color(m3-theme.$light-theme, neutral-variant, 30),
            outlined-label-text-color: var(--mat-sys-primary)
        )
    );

    @include mat.select-overrides(());
    @include mat.button-overrides(
        (
            outlined-label-text-size: 16px,
            outlined-hover-state-layer-opacity: 0,
            outlined-outline-color: white,
            outlined-horizontal-padding: 4px
        )
    );
    @include mat.fab-overrides(
        (
            container-color: white,
            container-elevation-shadow: none,
            extended-focus-container-elevation-shadow: none,
            focus-state-layer-opacity: 0,
            foreground-color: var(--mat-sys-primary),
            hover-container-elevation-shadow: none,
            state-layer-color: white,
            extended-pressed-container-elevation-shadow: none,
            focus-container-elevation-shadow: none,
            pressed-container-elevation-shadow: none
        )
    );
    @include mat.expansion-overrides(
        (
            container-shape: 0,
            header-indicator-color: var(--mat-sys-on-surface)
        )
    );
    @include mat.checkbox-overrides(
        (
            selected-icon-color: var(--mat-sys-secondary),
            unselected-icon-color: red,
            unselected-hover-icon-color: var(--mat-sys-outline),
            unselected-pressed-state-layer-opacity: 0,
            unselected-hover-state-layer-opacity: 0,
            unselected-focus-state-layer-opacity: 0,
            selected-focus-state-layer-opacity: 0,
            selected-hover-state-layer-opacity: 0,
            selected-pressed-state-layer-opacity: 0,
            selected-focus-icon-color: var(--mat-sys-secondary),
            selected-hover-icon-color: var(--mat-sys-secondary),
            selected-checkmark-color: pink,
            state-layer-size: 20px
        )
    );
    @include mat.radio-overrides(
        (
            label-text-size: 16px
        )
    );

    @include mat.menu-overrides(
        (
            container-elevation-shadow: none,
            container-shape: 8px,
            container-color: white,
            item-focus-state-layer-color: var(--mat-sys-surface)
        )
    );

    .mat-mdc-select-panel,
    .mat-mdc-autocomplete-panel {
        background-color: white !important;
        border: 1px solid var(--mat-sys-on-surface-variant);
        margin-top: 8px !important;
        border-radius: 8px !important;
        scrollbar-color: var(--mat-sys-primary) transparent !important ;
        box-shadow: none !important;
        border-width: 1px !important;
        overflow-y: auto !important;
    }

    .mat-mdc-menu-panel {
        box-shadow: 0 4px 6px -4px var(--mat-sys-on-surface-variant);
        border: 1px solid var(--mat-sys-on-surface-variant);
    }

    .mat-mdc-option.mat-mdc-option-active.mdc-list-item {
        background-color: inherit !important;
    }

    .mat-mdc-radio-button .mdc-radio {
        padding: 0 !important;
    }

    .mdc-radio__outer-circle {
        border-width: 1px !important;
    }

    .mat-mdc-radio-button .mdc-radio__background {
        height: 16px !important;
        width: 16px !important;
    }

    mat-slider {
        width: 100% !important;
    }

    .mat-select-search-input {
        background-color: white !important;
        color: var(--mat-sys-on-surface-variant);
    }

    & {
        --mat-form-field-filled-container-color: white;
        --mat-form-field-outlined-container-shape: 8px;
        --mat-select-panel-background-color: white;
        --mat-option-selected-state-label-text-color: var(--mat-sys-primary);
        --mat-snackbar-container-color: var(--mat-sys-surface) !important;
        --mat-button-filled-container-color: var(--mat-sys-secondary) !important;
        --mat-button-filled-container-shape: 8px !important;
        --mat-button-filled-label-text-color: white !important;
        --mat-button-text-container-shape: 8px !important;
        --mat-paginator-container-background-color: var(--mat-sys-on-secondary) !important;
        --mat-sys-body-large-line-height: 24px !important;

        line-height: var(--mat-sys-body-large-line-height) !important;
    }

    & {
        margin: 0;
        font: var(--mat-sys-body-medium) !important;
        color: var(--mat-sys-on-surface);
    }
}

a {
    color: var(--mat-sys-on-surface);
    text-decoration: none;
    cursor: pointer;

    &.secondary {
        color: var(--mat-sys-secondary);
    }
}

a:hover {
    color: var(--mat-sys-on-surface) !important;
    text-decoration: underline !important;

    &.secondary {
        color: var(--mat-sys-secondary) !important;
    }
}

a:active {
    // color: mat.get-theme-color(m3-theme.$light-theme, primary, 50) !important;
    text-decoration: underline;

    &.secondary {
        // color: mat.get-theme-color(m3-theme.$light-theme, secondary, 60) !important;
    }
}

* {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    outline: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dense-theme {
    @include mat.all-component-densities(-2);
}

$spaceamounts: (0, 1, 2, 3, 4, 8, 16, 24, 32, 40, 48, 64); // Adjust this to include the pixel amounts you need.
$sides: (top, bottom, left, right); // Leave this variable alone

@each $space in $spaceamounts {
    @each $side in $sides {
        .m-#{string.slice($side, 0, 1)}-#{$space} {
            margin-#{$side}: #{$space}px !important;
        }

        .p-#{string.slice($side, 0, 1)}-#{$space} {
            padding-#{$side}: #{$space}px !important;
        }
    }

    .m-#{$space} {
        margin: #{$space}px !important;
    }

    .p-#{$space} {
        padding: #{$space}px !important;
    }

    .gap-#{$space} {
        gap: #{$space}px !important;
    }
}

.mat-mdc-menu-panel.custom-menu {
    max-width: 90vw;

    .mat-mdc-menu-content {
        padding: 0;
    }
}

.flex {
    display: flex;
}

.flex-justify-start {
    justify-content: flex-start;
}

.flex-justify-end {
    justify-content: flex-end;
}

.flex-justify-space-between {
    justify-content: space-between;
}

.flex-justify-space-around {
    justify-content: space-around;
}

.flex-justify-center {
    justify-content: center;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.flex-align-start {
    align-items: flex-start;
}

.flex-align-end {
    align-items: flex-end;
}

.flex-align-center {
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

// var(--mat-sys-outline): mat.get-theme-color(m3-theme.$light-theme, primary, 60);
// $light-blue: mat.get-theme-color(m3-theme.$light-theme, secondary, 35);
.row {
    align-items: center;
    padding: 8px;
    border-top: 1px solid var(--mat-sys-outline);

    @media only screen and (max-width: global.$breakpoint-lg) {
        padding: 8px !important;
    }
}

// $header-grey: mat.get-theme-color(m3-theme.$light-theme, neutral-variant, 60);

.header {
    border-top: none !important;
    color: var(--mat-sys-tertiary-fixed-dim);
}

.table-row > td {
    padding: 8px;
    border-top: 1px solid var(--mat-sys-outline);
    text-align: left;

    > div.expander {
        width: 100%;
    }

    @media only screen and (max-width: global.$breakpoint-lg) {
        padding: 4px !important;
    }
}

.table-header > th {
    padding: 8px;
    border-top: none !important;

    // color: $header-grey !important;
    text-align: left !important;
    font-weight: var(--mat-sys-body-large-weight) !important;

    > div.expander {
        width: 100%;
    }
}

.hidden {
    display: none !important;
}

.show-all {
    color: var(--mat-sys-secondary);
    font-weight: var(--mat-sys-display-medium-weight);
    text-align: center;
    cursor: pointer;
    border: 3px solid var(--mat-sys-surface);
}

.show-all:hover {
    // border: 3px solid $light-blue;
    border-radius: 8px;
}

.sortable {
    cursor: pointer;
}

.sortable:hover {
    text-decoration: underline;
}

.cursor-pointer {
    cursor: pointer !important;
}

.route-link {
    font-weight: var(--mat-sys-title-medium-weight) !important;
}

// .mat-pseudo-checkbox-minimal.mat-pseudo-checkbox-checked::after,
// .mat-pseudo-checkbox-minimal.mat-pseudo-checkbox-indeterminate::after {
//     color: black !important;
// }

// mat-pseudo-checkbox.mat-pseudo-checkbox-checked {
//   background-color: white !important;
// }
// mat-pseudo-checkbox.mat-pseudo-checkbox-full.mat-pseudo-checkbox-checked::after {
//   background-color: var(--mat-sys-secondary) !important;
// }

.mat-mdc-menu-item {
    border-left: 4px solid white !important;
    border-radius: 0 !important;
}

.mat-mdc-menu-item:hover {
    border-left: 4px solid #aaccf0 !important;
    border-radius: 0 !important;
}

a.mat-mdc-menu-item:hover {
    text-decoration: none !important;
}

.mdc-checkbox__background {
    border-radius: 6px !important;
    border-width: 1px !important;
}

.mdc-checkbox__checkmark {
    left: 2.5px !important;
    top: 3px !important;
    width: 60% !important;
}

.status-draft,
.warn {
    background-color: #fbecea !important;
    border-radius: 8px;
}

.status-in_review,
.notice {
    background-color: #fbf5ea !important;
    border-radius: 8px;
}

.publish-status-actions {
    color: var(--mat-sys-outline);
}

.dot {
    height: 10px !important;
    width: 10px !important;
    border-radius: 50% !important;
    display: inline-block !important;
}

.dot.large {
    height: 14px !important;
    width: 14px !important;
}

.dot.extra-large {
    height: 18px !important;
    width: 18px !important;
}
