@use '@angular/material' as mat;
@use './m3-theme' as m3-theme;
@use 'sass:string';
@use './styles/global' as global;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
/* stylelint-disable-next-line scss/at-mixin-argumentless-call-parentheses */
@include mat.elevation-classes();
@include mat.app-background();
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

html {
    font-size: 18.4px;
}

body {
    @include mat.elevation-classes();
    @include mat.app-background();

    @include mat.all-component-themes(m3-theme.$light-theme);
    @include mat.system-level-colors(m3-theme.$light-theme);
    @include mat.system-level-typography(m3-theme.$light-theme);

    @debug mat.get-theme-color(m3-theme.$light-theme, neutral, 50);
    @include mat.form-field-overrides(
        (
            container-vertical-padding: 8px,
            container-height: 40px,
            filled-active-indicator-height: 40px,
            filled-focus-active-indicator-height: 40px,
            outlined-outline-color: mat.get-theme-color(m3-theme.$light-theme, neutral-variant, 30),
            outlined-label-text-color: var(--mat-sys-primary)
        )
    );

    @include mat.select-overrides(());

    @include mat.button-overrides(
        (
            outlined-label-text-size: 16px,
            outlined-hover-state-layer-opacity: 0
        )
    );

    @include mat.expansion-overrides(
        (
            container-shape: 0,
            header-indicator-color: var(--mat-sys-primary)
        )
    );

    @include mat.checkbox-overrides(
        (
            selected-icon-color: var(--mat-sys-secondary),
            unselected-icon-color: var(--mat-sys-secondary)
        )
    );

    @include mat.radio-overrides(
        (
            selected-icon-color: var(--mat-sys-secondary),
            selected-pressed-icon-color: white,
            unselected-icon-color: var(--mat-sys-outline-variant),
            unselected-focus-icon-color: var(--mat-sys-secondary),
            selected-focus-icon-color: var(--mat-sys-secondary),
            selected-hover-icon-color: mat.get-theme-color(m3-theme.$light-theme, secondary, 60)
        )
    );

    @include mat.slider-overrides(
        (
            inactive-track-color: mat.get-theme-color(m3-theme.$light-theme, neutral-variant, 30),
            handle-color: var(--mat-sys-secondary),
            active-track-color: var(--mat-sys-secondary),
            label-container-color: var(--mat-sys-secondary),
            label-label-text-color: white
        )
    );

    @include mat.dialog-overrides(
        (
            container-shape: 8px,
            container-color: var(--mat-sys-surface-container-lowest)
        )
    );

    @include mat.menu-overrides(
        (
            container-elevation-shadow: none,
            container-shape: 8px,
            container-color: white,
            item-focus-state-layer-color: var(--mat-sys-surface)
        )
    );

    .mat-mdc-select-panel,
    .mat-mdc-autocomplete-panel {
        background-color: white !important;
        border: 1px solid var(--mat-sys-on-surface-variant);
        margin-top: 8px !important;
        border-radius: 8px !important;
        scrollbar-color: var(--mat-sys-primary) transparent !important ;

        box-shadow: none !important;
        border-width: 1px !important;
        overflow-y: auto !important;
    }

    .mat-mdc-menu-panel {
        border: 1px solid var(--mat-sys-on-surface-variant);
    }

    .mat-mdc-option.mat-mdc-option-active.mdc-list-item {
        background-color: inherit !important;
    }

    .mat-mdc-radio-button .mdc-radio {
        padding: 0 !important;
    }

    mat-slider {
        width: 100% !important;
    }

    .mat-mdc-option:hover {
        background-color: mat.get-theme-color(m3-theme.$light-theme, secondary, 98) !important;
        color: var(--mat-sys-secondary) !important;
    }

    .mat-select-search-input {
        background-color: white !important;
        color: var(--mat-sys-on-surface-variant);
    }

    .mat-internal-form-field > label {
        padding-left: 16px !important;
    }

    & {
        --mat-checkbox-state-layer-size: 40px;
        // TODO replace hardcoded color with variable
        --mat-checkbox-unselected-focus-icon-color: #737373;
        --mat-checkbox-label-text-size: --mat-sys-body-large-size;
        --mat-form-field-filled-container-color: white;
        --mat-form-field-outlined-container-shape: 8px;
        --mat-select-panel-background-color: white;
        --mat-option-selected-state-label-text-color: var(--mat-sys-secondary);
        --mat-radio-checked-ripple-color: var(--mat-sys-secondary);
        --mat-radio-selected-icon-color: var(--mat-sys-secondary);
        --mat-radio-label-text-size: var(--mat-sys-body-large-size) !important;
        --mat-snackbar-container-color: var(--mat-sys-surface) !important;
        --mat-button-filled-container-color: var(--mat-sys-secondary) !important;
        --mat-button-filled-container-shape: 8px !important;
        --mat-button-filled-label-text-color: white !important;
        --mat-button-text-container-shape: 8px !important;
        --mat-paginator-container-background-color: var(--mat-sys-on-secondary) !important;
        --mat-sys-body-large-line-height: 24px !important;
        --mat-dialog-supporting-text-color: var(--mat-sys-primary) !important;
        --mat-pseudo-checkbox-full-selected-icon-color: var(--mat-sys-secondary) !important;
        --mat-pseudo-checkbox-minimal-selected-checkmark-color: var(--mat-sys-secondary) !important;
        line-height: var(--mat-sys-body-large-line-height) !important;

        --mat-sys-display-large: 400 3.562rem / 4rem Poppins;
        --mat-sys-display-large-font: Poppins;
        --mat-sys-display-large-line-height: 4rem;
        --mat-sys-display-large-size: 3.562rem;
        --mat-sys-display-large-tracking: -0.016rem;
        --mat-sys-display-large-weight: 400;
        --mat-sys-display-medium: 400 2.812rem / 3.25rem Poppins;
        --mat-sys-display-medium-font: Poppins;
        --mat-sys-display-medium-line-height: 3.25rem;
        --mat-sys-display-medium-size: 2.812rem;
        --mat-sys-display-medium-tracking: 0;
        --mat-sys-display-medium-weight: 400;
        --mat-sys-display-small: 400 2.25rem / 2.75rem Poppins;
        --mat-sys-display-small-font: Poppins;
        --mat-sys-display-small-line-height: 2.75rem;
        --mat-sys-display-small-size: 2.25rem;
        --mat-sys-display-small-tracking: 0;
        --mat-sys-display-small-weight: 400;
        --mat-sys-headline-large: 400 2rem / 2.5rem Poppins;
        --mat-sys-headline-large-font: Poppins;
        --mat-sys-headline-large-line-height: 2.5rem;
        --mat-sys-headline-large-size: 2rem;
        --mat-sys-headline-large-tracking: 0;
        --mat-sys-headline-large-weight: 400;
        --mat-sys-headline-medium: 400 1.75rem / 2.25rem Poppins;
        --mat-sys-headline-medium-font: Poppins;
        --mat-sys-headline-medium-line-height: 2.25rem;
        --mat-sys-headline-medium-size: 1.75rem;
        --mat-sys-headline-medium-tracking: 0;
        --mat-sys-headline-medium-weight: 400;
        --mat-sys-headline-small: 400 1.5rem / 2rem Poppins;
        --mat-sys-headline-small-font: Poppins;
        --mat-sys-headline-small-line-height: 2rem;
        --mat-sys-headline-small-size: 1.5rem;
        --mat-sys-headline-small-tracking: 0;
        --mat-sys-headline-small-weight: 400;
        --mat-sys-label-large: 500 0.875rem / 1.25rem Poppins;
        --mat-sys-label-large-font: Poppins;
        --mat-sys-label-large-line-height: 1.25rem;
        --mat-sys-label-large-size: 0.875rem;
        --mat-sys-label-large-tracking: 0.006rem;
        --mat-sys-label-large-weight: 500;
        --mat-sys-label-large-weight-prominent: 700;
        --mat-sys-label-medium: 500 0.75rem / 1rem Poppins;
        --mat-sys-label-medium-font: Poppins;
        --mat-sys-label-medium-line-height: 1rem;
        --mat-sys-label-medium-size: 0.75rem;
        --mat-sys-label-medium-tracking: 0.031rem;
        --mat-sys-label-medium-weight: 500;
        --mat-sys-label-medium-weight-prominent: 700;
        --mat-sys-label-small: 500 0.688rem / 1rem Poppins;
        --mat-sys-label-small-font: Poppins;
        --mat-sys-label-small-line-height: 1rem;
        --mat-sys-label-small-size: 0.688rem;
        --mat-sys-label-small-tracking: 0.031rem;
        --mat-sys-label-small-weight: 500;
        --mat-sys-title-large: 400 1.375rem / 1.75rem Poppins;
        --mat-sys-title-large-font: Poppins;
        --mat-sys-title-large-line-height: 1.75rem;
        --mat-sys-title-large-size: 1.375rem;
        --mat-sys-title-large-tracking: 0;
        --mat-sys-title-large-weight: 400;
        --mat-sys-title-medium: 500 1rem / 1.5rem Poppins;
        --mat-sys-title-medium-font: Poppins;
        --mat-sys-title-medium-line-height: 1.5rem;
        --mat-sys-title-medium-size: 1rem;
        --mat-sys-title-medium-tracking: 0.009rem;
        --mat-sys-title-medium-weight: 500;
        --mat-sys-title-small: 500 0.875rem / 1.25rem Poppins;
        --mat-sys-title-small-font: Poppins;
        --mat-sys-title-small-line-height: 1.25rem;
        --mat-sys-title-small-size: 0.875rem;
        --mat-sys-title-small-tracking: 0.006rem;
        --mat-sys-title-small-weight: 500;
    }

    & {
        margin: 0;
        font: var(--mat-sys-body-medium) !important;
        color: var(--mat-sys-primary);
    }
}

/* The container */
.checkbox-container {
    display: flex;

    cursor: pointer;

    @media only screen and (max-width: global.$breakpoint-lg) {
        padding-left: 0px;
    }
}

/* Hide the browser's default checkbox */
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: inherit;
    height: 16px;
    width: 16px;
    border: 1px solid mat.get-theme-color(m3-theme.$light-theme, neutral-variant, 30);
    background-color: #ffffff;
    border-radius: 6px;
    display: block;
    margin-top: 2px;
}

.checkmark-label {
    margin-left: 8px;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
    background-color: #ffffff;

    border: 1px solid mat.get-theme-color(m3-theme.$light-theme, neutral-variant, 60);
}

.checkbox-container input:focus ~ .checkmark {
    border: 1px solid mat.get-theme-color(m3-theme.$light-theme, secondary, 35);
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
    background-color: mat.get-theme-color(m3-theme.$light-theme, secondary, 50);
    border: 1px solid rgb(0, 0, 0, 0%);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: '';
    position: inherit;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
    margin-left: 6px;
    margin-top: 2px;
    width: 3px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

a {
    color: var(--mat-sys-primary);

    cursor: pointer;
    &.secondary {
        color: var(--mat-sys-secondary);
    }
}

a:hover {
    color: var(--mat-sys-primary) !important;
    text-decoration: underline !important;
    &.secondary {
        color: var(--mat-sys-secondary) !important;
    }
}

a:active {
    color: mat.get-theme-color(m3-theme.$light-theme, primary, 50) !important;
    text-decoration: underline;
    &.secondary {
        color: mat.get-theme-color(m3-theme.$light-theme, secondary, 60) !important;
    }
}

h1 {
    font: var(--mat-sys-headline-large) !important;
    margin-block-start: 0 !important;
    margin-block-end: 0 !important;
    color: var(--mat-sys-primary);
}

h2 {
    color: var(--mat-sys-primary);
    font: var(--mat-sys-headline-small);
    line-height: 28px;
}

h3 {
    color: var(--mat-sys-primary);
    font: var(--mat-sys-headline-small);

    font-weight: 400;
    font-size: 25px;

    line-height: 32px;
}
h4 {
    color: var(--mat-sys-primary);
    font: var(--mat-sys-headline-small);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    margin: 4px;
}

* {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    outline: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dense-theme {
    @include mat.all-component-densities(-2);
}

$spaceamounts: (0, 1, 2, 3, 4, 8, 16, 24, 32, 40, 48, 64); // Adjust this to include the pixel amounts you need.
$sides: (top, bottom, left, right); // Leave this variable alone

@each $space in $spaceamounts {
    @each $side in $sides {
        .m-#{string.slice($side, 0, 1)}-#{$space} {
            margin-#{$side}: #{$space}px !important;
        }

        .p-#{string.slice($side, 0, 1)}-#{$space} {
            padding-#{$side}: #{$space}px !important;
        }
    }

    .m-#{$space} {
        margin: #{$space}px !important;
    }

    .p-#{$space} {
        padding: #{$space}px !important;
    }

    .gap-#{$space} {
        gap: #{$space}px !important;
    }
}

.mat-mdc-menu-panel.custom-menu {
    max-width: 90vw;

    .mat-mdc-menu-content {
        padding: 0;
    }
}

.flex {
    display: flex;
}
.flex-justify-start {
    justify-content: flex-start;
}
.flex-justify-end {
    justify-content: flex-end;
}
.flex-justify-space-between {
    justify-content: space-between;
}
.flex-justify-space-around {
    justify-content: space-around;
}
.flex-justify-center {
    justify-content: center;
}
.flex-row {
    flex-direction: row;
}
.flex-column {
    flex-direction: column;
}
.flex-align-start {
    align-items: flex-start;
}
.flex-align-end {
    align-items: flex-end;
}
.flex-align-center {
    align-items: center;
}
.flex-wrap {
    flex-wrap: wrap;
}
.flex-nowrap {
    flex-wrap: nowrap;
}
$grey: mat.get-theme-color(m3-theme.$light-theme, primary, 60);
$light-blue: mat.get-theme-color(m3-theme.$light-theme, secondary, 35);
.row {
    align-items: center;
    padding: 8px;
    border-top: 1px solid $grey;

    @media only screen and (max-width: global.$breakpoint-lg) {
        padding: 8px !important;
    }
}

$header-grey: mat.get-theme-color(m3-theme.$light-theme, neutral-variant, 60);

.header {
    border-top: none !important;
    color: $header-grey !important;
}

.table-row > td {
    padding: 8px;
    border-top: 1px solid $grey;
    text-align: left;

    > div.expander {
        width: 100%;
    }

    @media only screen and (max-width: global.$breakpoint-lg) {
        padding: 4px !important;
    }
}

.table-header > th {
    padding: 8px;
    border-top: none !important;
    color: $header-grey !important;
    text-align: left !important;
    font-weight: var(--mat-sys-body-large-weight) !important;
    > div.expander {
        width: 100%;
    }
}

.hidden {
    display: none !important;
}

.show-all {
    color: var(--mat-sys-secondary);
    font-weight: var(--mat-sys-display-medium-weight);
    text-align: center;
    cursor: pointer;
    border: 3px solid var(--mat-sys-surface);
}

.show-all:hover {
    border: 3px solid $light-blue;
    border-radius: 8px;
}

.sortable {
    cursor: pointer;
}

.sortable:hover {
    text-decoration: underline;
}

.route-link {
    font-weight: var(--mat-sys-title-medium-weight) !important;
}

.mat-pseudo-checkbox-minimal.mat-pseudo-checkbox-checked::after,
.mat-pseudo-checkbox-minimal.mat-pseudo-checkbox-indeterminate::after {
    color: black !important;
}
// mat-pseudo-checkbox.mat-pseudo-checkbox-checked {
//   background-color: white !important;
// }
// mat-pseudo-checkbox.mat-pseudo-checkbox-full.mat-pseudo-checkbox-checked::after {
//   background-color: var(--mat-sys-secondary) !important;
// }
