:host {
  .distribution-container-horizontal {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 0 8px;
    align-items: center;
    background-color: var(--mat-sys-surface);
    border-radius: 8px;
    padding: 16px;

    .distribution-bar-label {
      text-align: right;
    }

    .distribution-bar {
      height: 20px;
      background-color: transparent;
    }

    .distribution-bar-inner {
      height: 100%;
      border-radius: 4px;
    }
  }

  .distribution-container-vertical {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: stretch;
    height: 300px;
    background-color: var(--mat-sys-surface);
    border-radius: 8px;
    padding: 16px;

    .distribution-bar-label {
      text-align: center;
      width: 40px;
      margin: 8px;
    }

    .distribution-bars {
      flex: 1 1 auto;
      display: flex;
      align-items: flex-end;
      justify-content: space-evenly;
      gap: 0 8px;
    }

    .distribution-bars-labels {
      flex-flow: wrap;
      box-sizing: border-box;
      display: flex;
      align-items: flex-start;
      flex: 0 1 auto;
      justify-content: space-evenly;
      gap: 0 8px;
    }

    .distribution-bar {
      width: 40px;
      display: inline-block;
      background-color: transparent;
      margin: 8px;
      text-align: center;
    }

    .distribution-bar-inner {
      height: 100%;
      border-radius: 4px;
    }
  }
}
