@if (error) {
    <app-data-error [error]="error"></app-data-error>
}

@if (!error) {
    <h1 mat-dialog-title>Vzponi za smer {{ data.routeName }}</h1>
    <div class="mt-4">
        @if (loading) {
            <div class="card-loader">
                <app-loader></app-loader>
            </div>
        }
        @if (!loading) {
            <div class="table-wrapper">
                <table class="stats-card-table">
                    <thead>
                        <tr>
                            @for (column of filteredTable.columns; track column) {
                                <th>
                                    @if (column.sortable) {
                                        <span
                                            class="sortable"
                                            [class.sorted]="filteredTable.sortColumn === column.name"
                                            (click)="filteredTable.sort(column)"
                                        >
                                            {{ column.label }}
                                            @if (filteredTable.sortColumn !== column.name) {
                                                <mat-icon inline>sort</mat-icon>
                                            }
                                            @if (filteredTable.sortColumn === column.name) {
                                                <mat-icon inline>{{
                                                    filteredTable.sortDirection === 'DESC' ? 'arrow_downward' : 'arrow_upward'
                                                }}</mat-icon>
                                            }
                                        </span>
                                    }
                                    @if (!column.sortable) {
                                        <span>{{ column.label }}</span>
                                    }
                                </th>
                            }
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        @for (route of routes; track route) {
                            <tr
                                class="row"
                                app-crag-activity-route-row
                                [route]="route"
                                [rowAction]="rowAction$"
                                [noTopropeOnPage]="noTopropeOnPage"
                            ></tr>
                        }
                    </tbody>
                </table>
                @if (pagination !== null) {
                    <mat-paginator
                        hidePageSize
                        showFirstLastButtons
                        [length]="pagination.itemCount"
                        [pageIndex]="pagination.pageNumber - 1"
                        [pageSize]="pagination.pageSize"
                        (page)="filteredTable.paginate($event)"
                    >
                    </mat-paginator>
                }
            </div>
        }
    </div>
    <div mat-dialog-actions>
        <button mat-button mat-dialog-close cdkFocusInitial>Zapri</button>
        <button mat-button [mat-dialog-close]="true">Odpri v plezalnem dnevniku</button>
    </div>
}
